[runtime]
environment="development"

[server]
host="localhost"
port="3000"
certs="./env/certs"
certProvider="none"
shutdownTimeout="3s"
baseURL="http://localhost:3000"

[internal]
port="3030"

[identity]
url="usermgm-admin:80"

[profile]
url="proile-admin:80"

[database]
host="localhost"
port="5432"
user="postgres"
password="postgres"
dbname="postgres"
migrationDir="migrations/sql"
sslMode="disable"
connectionTimeout="30000"
statementTimeout="30000"
idleInTransactionSessionTimeout="30000"

[hydra]
adminUrl="http://hydra:4445"

[auth]
issuer="http://127.0.0.1:4444/"
token="http://hydra:4444/"
cookieSecret="secret"
cookieMaxAge="259200"
cookieSecure="false"
clientID="clientid"
clientSecret="clientsecret"
oauthURL=""
source="dummy"

[perahub]
environment="dev"
baseurl=""
nonexurl=""
billerurl=""
billsurl=""
transacturl=""
billsurl=""
revcommurl=""
rtaurl=""
cicourl=""
remittanceUrl=""
micInsUrl=""
nonexApiKey=""
defaultAPIKey=""
partnerid=""
clientkey=""
serverip=""
signingkey=""
timeout="10s"
httpmock="false"
authmock="false"
wiseClientID=""
wiseClientSecret=""

[trace]
collectorHost=""
