<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DRP</title>
  <meta name="keywords" content="Petnet" />
  <meta name="description" content="Petnet" />
  <link rel="stylesheet" href="{{ assetHash "/css/app.min.css" }}" />
</head>

<body>
  <header class="border-solid border-b border-grey-light-5">
    <div class="container m-auto py-3 px-4 flex items-center justify-between">
    <a href="/home" class="flex items-center">
      <img src="{{ assetHash "/images/conex-logo-blue.png"  }}" alt="Petnet" class="mr-5"/>
    </a>
  </header>
  <main>
    <div class="text-center min-h-screen mt-40 px-4">
      <h1 class="flex font-medium items-center justify-center text-96 text-blue-dark-25">
        <img src="{{ assetHash "/images/error-1.png" }}" class="mr-8"/>
        404
      </h1>
      <p class="max-w-lg mb-12 mx-auto text-3xl text-blue-dark-15">
        We can’t seem to find the page you are looking for.
      </p>
      <a
        href="/home"
        class="block max-w-sm mx-auto p-3 rounded-lg font-medium text-xs text-white bg-blue hover:bg-blue-dark-25">
        Back to Homepage
      </a>
    </div>
  </main>
</body>
</html>
