<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ assetHash "/assets/css/app.min.css"}}">
  <title>PERA HUB DRP Login</title>
</head>

<body>
  <div class="flex">
    <div class="bg-white-600 w-1/2 min-h-screen md:px-28 sm:px-10 px-6 py-20 hidden sm:block">
      <!-- <div class="min-h-screen flex items-center justify-center"> -->
      <div>
        <div><img src="{{ assetHash "/assets/images/icons/DRP-colored-horizontal.svg"}}" alt="logo">
        </div>
        <div class="text-5xl font-bold py-14">
          <div class="text-blue-900">Welcome to</div>
          <div class="text-blue-900">PERA HUB Portal</div>
        </div>
        <div class="text-2xl">
          <div>Not registered yet?</div>
          <div class="text-blue-400"><a href="/signup">Create an account here</a></div>
        </div>
      </div>
      <!-- </div> -->
    </div>
    <div class="bg-blue-900 sm:w-1/2 min-h-screen w-full">
      <div class="min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
        <div class="max-w-md w-full space-y-8">
          <div>
            <h2 class="text-3xl font-extrabold text-white">
              Log in
            </h2>
          </div>
          <form class="mt-8 space-y-6" action="javascript:;">
            <div class="mb-6">
              <label for="email" class="block mb-2 text-sm text-white">Email
                Address</label>
              <input type="email" name="email" id="email"
                class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none" />
            </div>
            <div class="mb-6">
              <div class="flex justify-between mb-2">
                <label for="password" class="text-sm text-white">Password</label>
              </div>
              <div class="relative">
                <input type="password" name="password" id="password"
                  class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none" />
                <span class="absolute top-2 right-4 z-10 opacity-10">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
                    <path fill-rule="evenodd"
                      d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z"
                      clip-rule="evenodd" />
                  </svg>
                </span>
              </div>
            </div>
            <div class="flex items-center justify-between">
              <div class="flex items-center">
                <input id="remember_me" name="remember_me" type="checkbox"
                  class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded">
                <label for="remember_me" class="ml-2 block text-sm text-white">
                  Remember me
                </label>
              </div>

              <div class="text-sm">
                <a href="/forgot-password" class="font-medium text-white underline">
                  Forgot your password?
                </a>
              </div>
            </div>
            <div>
              <button
                class="group relative w-full flex justify-center py-4 px-4 text-sm font-medium rounded-md text-blue-900 bg-yellow-400 focus:outline-none focus:ring-2 focus:ring-offset-2">
                Sign in
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div id="forgetPasswordModal">
    <div
      class="fixed top-0 left-0 z-50 w-screen min-h-screen bg-black bg-opacity-50 py-6 flex flex-col justify-center sm:py-12">
      <div class="py-3 sm:max-w-full sm:mx-auto">
        <div class="w-full fp-modal-container">
          <div class="bg-white flex flex-col shadow-lg w-full z-50 rounded-lg overflow-hidden">
            <div class="flex justify-end p-4 cursor-pointer" onclick="goBack()">
                <svg xmlns=" http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd" />
                </svg>
            </div>
            <div class="flex flex-col items-center mx-14 mb-12 ">
              <div class="flex flex-col items-center py-6 space-y-3">
                <span class="text-3xl text-black font-bold">Forgot your password?</span>
              </div>
              <p class="mb-6 font-lg tracking-wider text-center">Reset password email sent. Check your mailbox to reset your password.</p>
              <div class=" w-full flex flex-col">
                  <div>
                    <button onclick="goBack()"
                      class=" w-full flex justify-center py-4 px-4 text-lg font-bold rounded-md text-petnetblue bg-petnetyellow focus:outline-none">Return to Login</button>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    function goBack() {
      window.location.href = '{{.LoginURL}}';
    }
    document.addEventListener("click", function (event) {
        var getModalContainer = event.target.closest('.fp-modal-container');
        var getPopUp = document.getElementById("forgetPasswordModal");
        var getPopUpClass = getPopUp.className;
        if (!getModalContainer) {
            goBack()
        }
    });
</script>
</body>

</html>