<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ assetHash "/assets/css/app.min.css"}}">
    <title>Reset Password</title>
</head>
<body class="">
    <div>
		 <section class="min-h-screen">
			 <div class="flex min-h-screen flex-wrap justify-center bg-petnetblue ">
				<div class="sm:w-3/5 w-full">
					<div class="my-2 justify-center hidden sm:flex">
						<img src="{{assetHash "/assets/images/icons/DRP-white-horizontal.svg"}}" alt="" srcset="">
					</div>
					<div class="my-2 mx-6 flex justify-center sm:hidden">
						<img src="{{assetHash "/assets/images/icons/DRP-white-horizontal.svg"}}" alt="" srcset="">
					</div>
					 <div class="bg-white rounded-sm sm:p-20 p-6 mx-8 h-3/5">
						 <div class="">
							 <h1 class="text-3xl font-bold sm:pb-8 pb-4 sm:pt-16 pt-4 text-center">Password reset successfully.</h1>
							 <p class="font-semibold sm:mb-16 mb-6 text-center">You have successfully reset your password.</p>
							 <a href="{{.LoginURL}}" class="bg-petnetyellow text-petnetblue  py-3 rounded-md font-bold mb-16 flex justify-center w-full mr-6">
								  
									 Return to Log in screen
								 
							 </a>
						 </div>

					 </div>

				 </div>
			 </div>
		 </section>
    </div>
</body>
</html>
