[runtime]
environment="development"

[project]
mfaissuer="Brankas"
mfatimeout="30m"

[server]
host="127.0.0.1"
port="3000"
certs="./env/certs"
certProvider="none"
adminPort="3030"
setupTimeout="90s"

[cors]
allowCredentials="true"
methods="HEAD,GET,POST,PUT,PATCH,DELETE"
origins="https://rbac.bnk.to,*.rbac.bnk.to"
headers="Content-Type,X-Grpc-Web,Authorization,X-Requested-With"
debug="true"

[database]
host="127.0.0.1"
port="5432"
user="postgres"
password=""
dbname="postgres"
migrationDir="migrations/sql"
sslMode="disable"
connectionTimeout="30000"
statementTimeout="30000"
idleInTransactionSessionTimeout="30000"

[bootstrap]
hydraClient=""
hydraSecret=""
envList="live,sandbox,staging"
startup=false

[permissions]
environment=""

[api]
host=""
authHost=""

[hydra]
adminURL="http://hydra-admin"
publicURL="http://hydra-public"
audience=""

[keto]
host="localhost"
port="4466"

[org]
autocreate=false
autoapprove=false

[user]
existError=false
resetdurationsec="259200"
lockoutCount=5
requireEmailVerificationForLogin="false"
notifydisable=false
notifyenable=false

[smtp]
host="smtp.gmail.com"
port="587"
username="addres@change.me"
password=""
fromAddr="addres@change.me"
baseURL="https://rbac.bnk.to"
fromName="RBAC"
cacert=""
certcn=""

[idp]
url="https://changeme.com"

[mailer]
emailConfirmURL="https://changeme.com/user/confirm"
signupURL=""
mock="false"

[mailer.subjects]
resetPassword="Forgot Password"
confirmEmail="Confirm Email"
emailMFA="Confirm Action"
userInvite="User Invitation"
emailApproved="Invite Approved"
userDisable="Disable User"
userEnable="Enable User"

[site]
url="https://site.bnk.to"

[trace]
collectorHost=""
