<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ assetHash "/css/app.min.css" }}">
    <title>Account details</title>
</head>

<body class="bg-petnetblue">
    <div>
        <section class="min-h-screen">
            <form method="POST" action="/registration/account-details">
   		   	 {{ .CSRFField }}
                <input type="hidden" name="InviteCode" value="{{.InviteCode}}">
                <div class="flex min-h-screen flex-wrap bg-petnetblue ">
                    <div class="sm:w-2/3 sm:mx-auto mx-8">
                        <div class="py-6 hidden sm:flex justify-center">
                            <img src="{{ assetHash "/images/DRP-white-horizontal.svg" }}" alt="" srcset="">
                        </div>
                        <div class="block sm:hidden py-8">
                            <img src="{{ assetHash "/images/DRP-white-horizontal.svg" }}" alt="" srcset="">

                        </div>
                        <div class="bg-white rounded-sm sm:pl-20 sm:pr-28 px-6 sm:py-8 py-10 flex flex-wrap">
                            <div class="md:w-3/4">
                                <h1 class="text-3xl font-bold sm:pb-8 pb-6">Account Registration</h1>
                                <p class="text-petnetblue font-semibold text-sm sm:mb-6 mb-4">ACCOUNT DETAILS</p>
                                <div>
                                    <div class="mb-4">
                                        <label class="text-gray-700 text-sm">
                                            Email Address
                                        </label>
                                        <input oninput="emailValidErrorRemove();"
                                            class=" mt-3 rounded w-full py-2 px-3 text-gray-700 focus:outline-none focus:ring-1 focus:ring-blue-400  border border-gray-400"
                                            name="Email" value="{{.Email}}" id="email" placeholder="Enter your email" autocomplete="off">
												<p class="text-red-700 mt-2" id="emailerr">{{with .Errors.Email}}{{.}}{{end}}</p>
                                    </div>
                                    <div class="mb-4">
                                        <label class="text-gray-700 text-sm">
                                            Password
                                        </label>
                                        <div class="relative">
                                            <input oninput="PasswordStreetMeter('password','passwordMeeter', 'passwordMeeterwrap');"
                                            class="password mt-3 rounded w-full py-2 px-3 text-gray-700 focus:outline-none focus:ring-1 focus:ring-blue-400  border border-gray-400"
                                            name="Password" id="password" placeholder="Enter new password" maxlength="64"
					    type="password" autocomplete="off">
                                            <span id="passEyeChange" class="absolute top-5 right-4 z-10 opacity-30 toggle-password cursor-pointer">
                                                <span id="eyeShow" class="">
                                                    <svg viewBox="0 0 24 24" class="h-7 w-7" fill="#000" xmlns="http://www.w3.org/2000/svg"><path d="M12 5c-7.633 0-9.927 6.617-9.948 6.684L1.946 12l.105.316C2.073 12.383 4.367 19 12 19s9.927-6.617 9.948-6.684l.106-.316-.105-.316C21.927 11.617 19.633 5 12 5zm0 11c-2.206 0-4-1.794-4-4s1.794-4 4-4 4 1.794 4 4-1.794 4-4 4z"/><path d="M12 10c-1.084 0-2 .916-2 2s.916 2 2 2 2-.916 2-2-.916-2-2-2z"/></svg>
                                                </span>
                                                <span id="eyeClose" class="hidden">
                                                    <svg viewBox="0 0 24 24" class="h-7 w-7" fill="#000" xmlns="http://www.w3.org/2000/svg"><path d="M8.073 12.194 4.212 8.333c-1.52 1.657-2.096 3.317-2.106 3.351L2 12l.105.316C2.127 12.383 4.421 19 12.054 19c.929 0 1.775-.102 2.552-.273l-2.746-2.746a3.987 3.987 0 0 1-3.787-3.787zM12.054 5c-1.855 0-3.375.404-4.642.998L3.707 2.293 2.293 3.707l18 18 1.414-1.414-3.298-3.298c2.638-1.953 3.579-4.637 3.593-4.679l.105-.316-.105-.316C21.98 11.617 19.687 5 12.054 5zm1.906 7.546c.187-.677.028-1.439-.492-1.96s-1.283-.679-1.96-.492L10 8.586A3.955 3.955 0 0 1 12.054 8c2.206 0 4 1.794 4 4a3.94 3.94 0 0 1-.587 2.053l-1.507-1.507z"/></svg>
                                                </span>
                                            </span>
                                        </div>
                                        <p id="passwordMeeterwrap" class="mt-2 hidden"><span class='font-bold text-black'>Password strength: </span><span id="passwordMeeter"></span></p>
										<p class="text-red-700 mt-2" id="passerr">{{with .Errors.Password}}{{.}}{{end}}</p>
                                    </div>
                                    <div class="mb-4">
                                        <label class="text-gray-700 text-sm">
                                            Re-enter Password
                                        </label>
                                        <div class="relative">
                                            <input oninput="PasswordStreetMeter('password','passwordMeeter', 'passwordMeeterwrap');"
                                            class="password mt-3 rounded w-full py-2 px-3 text-gray-700 focus:outline-none focus:ring-1 focus:ring-blue-400 border border-gray-400"
                                            name="PasswordConfirmation" id="confpassword" placeholder="Re-enter new password" maxlength="64"
					    type="password" autocomplete="off">
                                            <span id="ReenterpassEyeChange" class="absolute top-5 right-4 z-10 opacity-30 toggle-password cursor-pointer">
                                                <span id="reEyeShow" class="">
                                                    <svg viewBox="0 0 24 24" class="h-7 w-7" fill="#000" xmlns="http://www.w3.org/2000/svg"><path d="M12 5c-7.633 0-9.927 6.617-9.948 6.684L1.946 12l.105.316C2.073 12.383 4.367 19 12 19s9.927-6.617 9.948-6.684l.106-.316-.105-.316C21.927 11.617 19.633 5 12 5zm0 11c-2.206 0-4-1.794-4-4s1.794-4 4-4 4 1.794 4 4-1.794 4-4 4z"/><path d="M12 10c-1.084 0-2 .916-2 2s.916 2 2 2 2-.916 2-2-.916-2-2-2z"/></svg>
                                                </span>
                                                <span id="reEyeClose" class="hidden">
                                                    <svg viewBox="0 0 24 24" class="h-7 w-7" fill="#000" xmlns="http://www.w3.org/2000/svg"><path d="M8.073 12.194 4.212 8.333c-1.52 1.657-2.096 3.317-2.106 3.351L2 12l.105.316C2.127 12.383 4.421 19 12.054 19c.929 0 1.775-.102 2.552-.273l-2.746-2.746a3.987 3.987 0 0 1-3.787-3.787zM12.054 5c-1.855 0-3.375.404-4.642.998L3.707 2.293 2.293 3.707l18 18 1.414-1.414-3.298-3.298c2.638-1.953 3.579-4.637 3.593-4.679l.105-.316-.105-.316C21.98 11.617 19.687 5 12.054 5zm1.906 7.546c.187-.677.028-1.439-.492-1.96s-1.283-.679-1.96-.492L10 8.586A3.955 3.955 0 0 1 12.054 8c2.206 0 4 1.794 4 4a3.94 3.94 0 0 1-.587 2.053l-1.507-1.507z"/></svg>
                                                </span>
                                            </span>
                                        </div>
										<p class="text-red-700 mt-2" id="confpasserr">{{with .Errors.PasswordConfirmation}}{{.}}{{end}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sm:flex mt-5 justify-between hidden">
                            <div>
                                <a href="/login" class=" rounded-md font-bold inline-block text-white border border-white px-8 py-3">
                                    Go back
                                </a>
                            </div>
                            <div>
                                <button id="account-reg-sub" type="submit" disabled class="pointer-events-none bg-gray-500 text-black-500 px-8 py-3 rounded-md font-bold">
                                    Save & Continue
                                </button>
                            </div>
                        </div>
                        <div class="sm:hidden mt-10">
                            <div>
                                <button id="account-reg-sub" type="submit" class="w-full py-3 rounded-md font-bold bg-yellow-400 text-petnetblue">
                                    Create Account
                                </button>
                            </div>
                            <div>
                                <a href="/login" class=" rounded-md font-bold inline-block text-white border border-white w-full py-3 text-center mt-4">
                                    Go back
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
    <script type="text/javascript" src="{{ assetHash "/js/zxcvbn.js" }}"></script>
    <script>
        function emailValidErrorRemove(){
            var emailerr = document.getElementById("emailerr");
            emailerr.classList.add("hidden");
        }
        function PasswordStreetMeter(inp, outp, pmw){
            var passPolicy = false;
            var confpasserr = document.getElementById("confpasserr");
            var passerr = document.getElementById("passerr");
            confpasserr.classList.add("hidden");
            passerr.classList.add("hidden");
            const regex = /^(?=.*?[A-Z])(?=.*?[0-9])(?=.*?[^\w\s]).{8,}$/;
            var password = document.getElementById(inp).value;
            var confpassword = document.getElementById("confpassword").value;
            var passwordMeeterwrap = document.getElementById(pmw);
            var passwordMeeter = document.getElementById(outp);
            var submitButton = document.getElementById('account-reg-sub');
            var zxcvbnR = zxcvbn(password);
            if(password.length > 64){
                buttonDisable(submitButton);
                passwordMeeterwrap.classList.remove('hidden');
                passwordMeeter.innerHTML = "The Password length must be between 8 and 64.";
                passwordMeeter.classList.add('text-red-500');
                passwordMeeter.classList.remove('text-green-700');
                passwordMeeter.classList.remove('text-yellow-700');
            }
            if(!password.match(regex)){
                passPolicy = false;
                passwordMeeterwrap.classList.remove('hidden');
                buttonDisable(submitButton)
                passwordMeeter.innerHTML = "The password entered does not meet policy.";
                passwordMeeter.classList.add('text-red-500');
                passwordMeeter.classList.remove('text-green-700');
                passwordMeeter.classList.remove('text-yellow-700');
            }else{
                passPolicy = true;
                passwordMeeterwrap.classList.remove('hidden');
                if(zxcvbnR.score == 0){
                    passwordMeeter.innerHTML = "Weak";
                    passwordMeeter.classList.remove('text-green-700');
                    passwordMeeter.classList.remove('text-yellow-500');
                    passwordMeeter.classList.add('text-red-500');
                }else if(zxcvbnR.score == 1){
                    passwordMeeter.innerHTML = "Weak";
                    passwordMeeter.classList.remove('text-green-700');
                    passwordMeeter.classList.remove('text-yellow-500');
                    passwordMeeter.classList.add('text-red-500');
                } else if(zxcvbnR.score == 2){
                    passwordMeeter.innerHTML = "Average";
                    passwordMeeter.classList.remove('text-green-700');
                    passwordMeeter.classList.remove('text-red-500');
                    passwordMeeter.classList.add('text-yellow-500');
                } else if(zxcvbnR.score == 3){
                    passwordMeeter.innerHTML = "Strong";
                    passwordMeeter.classList.remove('text-red-500');
                    passwordMeeter.classList.remove('text-yellow-500');
                    passwordMeeter.classList.add('text-green-700');
                } else if(zxcvbnR.score == 4){
                    passwordMeeter.innerHTML = "Strong";
                    passwordMeeter.classList.remove('text-red-500');
                    passwordMeeter.classList.remove('text-yellow-500');
                    passwordMeeter.classList.add('text-green-700');
                }
            }
            if(password == ""){
                passwordMeeter.innerHTML = "";
                passwordMeeterwrap.classList.add('hidden');
            }
            if(password != "" && confpassword != ""){
                if((password == confpassword) && (passPolicy == true)){
                    passPolicy = true;
                    buttonEnable(submitButton);
                }
                if(password != confpassword){
                    passPolicy = false;
                    buttonDisable(submitButton)
                    passwordMeeter.innerHTML = "Password & Confirm Password doesn't Match.";
                    passwordMeeter.classList.remove('text-green-700');
                    passwordMeeter.classList.remove('text-yellow-500');
                    passwordMeeter.classList.add('text-red-500');
                }
            }else{
                passPolicy = false;
                buttonDisable(submitButton)
            }
        }
        function buttonDisable(submitButton){
            submitButton.classList.add("pointer-events-none", "bg-gray-500", "text-black-500");
            submitButton.classList.remove("bg-yellow-400","text-petnetblue");
            submitButton.disabled = true;
        }
        function buttonEnable(submitButton){
            submitButton.classList.remove("pointer-events-none", "bg-gray-500", "text-black-500");
            submitButton.classList.add("bg-yellow-400","text-petnetblue");
            submitButton.disabled = false;
        }
        document.addEventListener("DOMContentLoaded", function () {
          var togglePasswordBtn = document.getElementsByClassName("toggle-password");
          var passwordInput = document.getElementsByClassName('password');
          for (let i = 0; i < togglePasswordBtn.length; i++) {
            let togglePassword = togglePasswordBtn[i]
            let password = passwordInput[i]
            togglePassword.addEventListener("click", function () {
              password.type = (password.type === "password") ? "text" : "password";
            });
          }
        });
        let passEyeChange = document.getElementById('passEyeChange')
        let eyeShow = document.getElementById('eyeShow')
        let eyeClose = document.getElementById('eyeClose')
        passEyeChange.addEventListener('click', ()=>{
            eyeShow.classList.toggle('hidden')
            eyeClose.classList.toggle('hidden')
        })
        let ReenterpassEyeChange = document.getElementById('ReenterpassEyeChange')
        let reEyeShow = document.getElementById('reEyeShow')
        let reEyeClose = document.getElementById('reEyeClose')
        ReenterpassEyeChange.addEventListener('click', ()=>{
            reEyeShow.classList.toggle('hidden')
            reEyeClose.classList.toggle('hidden')
        })
    </script>
</body>
</html>
