<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ assetHash "/css/app.min.css" }}">
    <title>API Key</title>
</head>

<body class="font-sans">
    <div class="flex">
        <!-- sidebar-start -->
        {{ template "dsa-sidenav-menu.html" dict "Type" "api-pages" "Data" .}}
        <!-- sidebar-end -->

        <!-- right-top-header-start -->
        <div class="min-h-screen w-full flex bg-petnetgray">
            <div class="w-full">
                {{ template "api-head.html" dict "Env" "" "RouteName" "auth-code" "UserInfo" .UserInfo "CompanyName" .CompanyName "OnboardingIncompleteStatus" .OnboardingIncompleteStatus "HasLiveAccess" .HasLiveAccess}}

                <div class="">
                    <div>
                        <!-- first-section-start -->
                        <div class="px-6 lg:px-32 py-10 flex flex-wrap">
                            <div class="w-1/4 pr-2 flex flex-col">
                                {{ template "api-sidenav.html" . }}
                            </div>
                            <div class="w-3/4 pl-2">
                                <div class="bg-white rounded mb-3">

                                    <div class="p-6">
                                        <p class="font-bold text-xl pb-4 text-petnetblue">
                                            Introduction
                                        </p>
                                        <p class="pb-2">
                                            The guide will walk you through to tryout the services provided by Connex
                                            using the public API available on the platform. The documentation of the API
                                            is available in this <a target="_blank" href="/docs" class="text-petnetblue">link.</a>
                                            Connex API is using OAuth2.0 and OpenID Connect and can available on below
                                            environment
                                        </p>
                                        <table class="border border-black min-w-full">
                                            <thead>
                                                <tr class="">
                                                    <th class="text-left w-1/3 p-4 border border-black font-bold">
                                                        Environment
                                                    </th>
                                                    <th class="text-left w-1/3 border border-black p-4 font-bold">
                                                        Explanation
                                                    </th>
                                                </tr>

                                            <tbody>

                                                <tr>
                                                    <td class="px-4 py-2 border border-black">
                                                        Sandbox
                                                    </td>
                                                    <td class="px-4 py-2 border border-black">
                                                        Get started with test credentials and life-like data
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="px-4 py-2 border border-black">
                                                        Production
                                                    </td>
                                                    <td class="px-4 py-2 border border-black">
                                                        Ready to transact with real customer
                                                    </td>
                                                </tr>
                                            </tbody>

                                            </thead>
                                        </table>
                                        <p class="font-bold text-xl py-4">
                                            Getting Started
                                        </p>
                                        <p>
                                            Simple steps to use Connex API
                                            <ol class="pl-4">
                                                <li>
                                                    1. Explore the <a href="/docs" target="_blank" rel="noopener noreferrer" class="text-petnetblue">API documentation portal</a> 
                                                </li>
                                                <li>
                                                    2. Download API definition
                                                </li>
                                                <li>
                                                    3. Generate <a href="/api-key/sandbox" target="_blank" rel="noopener noreferrer" class="text-petnetblue">API access key</a> 
                                                    <div class="pl-4">
                                                        Connex platform support two methods of authorization as per
                                                        OAuth2.0 flow and <br>
                                                        OpenID Connect. <br>
                                                        User can choose from two method below

                                                    </div>
                                                    <ol class="pl-8">
                                                        <li>1. Generate client credential
                                                            <ol class="pl-9">
                                                                <li>1. Login to Connex with your registered email
                                                                    address</li>
                                                                <li>2. Access the API Integration</li>
                                                                <li>3. Select <a href="/api-key/sandbox" target="_blank" rel="noopener noreferrer" class="text-petnetblue"> API Keys</a></li>
                                                                <li>4. Select sandbox or production (available only upon
                                                                    approval)</li>
                                                                <li>5. Click on “Generate Client ID & Secret”</li>
                                                                <li>6. Enter your password</li>
                                                                <li>7. Connex will generate clientID and clientSecret
                                                                    <ol class="pl-10">
                                                                        <li>1.Do not share the clientID, clientSecret to
                                                                            anyone else outside your organization</li>
                                                                        <li>2. The clientSecret is will be displayed
                                                                            only once, make sure to copy and keep it
                                                                            safe.</li>
                                                                    </ol>
                                                                </li>
                                                                <li>8. Use the clientID, clientSecret in OAuth2.0 flow
                                                                    to access Connex API </li>
                                                            </ol>
                                                        </li>
                                                        <li>2. Generate authorization code
                                                            <ol class="pl-9">
                                                                <li>1. Login to Connex with your registered email
                                                                    address</li>
                                                                <li>2. Access the API Integration</li>
                                                                <li>3. Select <a href="/oauth2-authorization-code/sandbox" target="_blank" rel="noopener noreferrer" class="text-petnetblue"> OAuth2.0 Authorization Code</a></li>
                                                                <li>4. Select sandbox or production (available only upon
                                                                    approval)</li>
                                                                <li>5. Fill the required data
                                                                    <ol class="pl-10">
                                                                        <li>1. Name</li>
                                                                        <li>2. Logout URL</li>
                                                                        <li>3. Logo URL</li>
                                                                        <li>4. Cors Origin</li>
                                                                        <li>5. Redirect URL</li>
                                                                        <li>6. Permission: Public / Private</li>
                                                                        <li>7. Scope</li>
                                                                    </ol>
                                                                </li>
                                                                <li>6. Click on “Generate Credentials”</li>
                                                                <li>7. Enter your password</li>
                                                                <li>8. Connex will generate clientID and clientSecret
                                                                    <ol class="pl-10">
                                                                        <li>1. Do not share the clientID, clientSecret
                                                                            to anyone else outside your organization
                                                                        </li>
                                                                        <li>2. The clientSecret is will be displayed
                                                                            only once, make sure to copy and keep it
                                                                            safe.</li>
                                                                    </ol>
                                                                </li>
                                                                <li>9. Use the clientID, clientSecret in OAuth2.0 flow
                                                                    to access Connex API</li>
                                                            </ol>
                                                        </li>
                                                    </ol>

                                                </li>
                                                <li >
                                                    4. Test using preferred testing tools
                                                       You can use the your preferred testing tools that support OAuth2.0
                                                       and <span class="pl-4">OpenID Connect.
                                                        The latest API Definition will be always available in the
                                                        documentation portal for you to <span class="pl-4">import into your testing tools</span> </span> 
                                                </li>
                                                <li>
                                                    5. Request approval to access production environment
                                                </li>
                                            </ol>
                                        </p>



                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>
