<div class="px-6 lg:px-32 py-10 shadow-md relative z-10 bg-white">
    <ul class="flex justify-end items-center space-x-4 mb-16">
        {{if ne .Env ""}}
        <li class="mr-auto">
            <div class="inline-flex items-center">
                Environment:
                <div class="relative dropdown">
                    <button class="dropdown-toggle relative" onclick="dropdownToggle(event)">
                        {{ if eq .Env "production" }}
                        <span
                            class="border rounded-md ml-5 pr-14 pl-5 inline-block bg-petnetgreen bg-opacity-40">Production</span>
                        {{else}}
                        <span
                            class="border rounded-md ml-5 pr-14 pl-5 inline-block bg-petnetorange bg-opacity-40">Sandbox</span>
                        {{end}}
                        <svg class="w-3 h-3 absolute -top-1 right-0 m-3 pointer-events-none"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 412 232">
                            <path
                                d="M206 171.144L42.678 7.822c-9.763-9.763-25.592-9.763-35.355 0-9.763 9.764-9.763 25.592 0 35.355l181 181c4.88 4.882 11.279 7.323 17.677 7.323s12.796-2.441 17.678-7.322l181-181c9.763-9.764 9.763-25.592 0-35.355-9.763-9.763-25.592-9.763-35.355 0L206 171.144z"
                                fill="#648299" fill-rule="nonzero" /></svg>
                    </button>
                    <div class="absolute right-0 top-12 hidden dropdown-item">
                        <div
                            class="transform skew-y-12 skew-x-12 rotate-45 w-6 h-6 absolute ml-auto top-0 right-0 shadow bg-white z-10">
                        </div>
                        <div class="{{.HasLiveAccess}} shadow  absolute top-3 -right-5 rounded">
                            <div class="relative z-20 pt-3 w-28 bg-white rounded flex flex-col">
                                {{if eq .RouteName "api-key"}}
                                {{if .HasLiveAccess}}
                                <a href="/api-key/production"
                                    class="px-6 hover:bg-petnetblue hover:bg-opacity-20 py-2">Production</a>
                                {{else}}
                                <a href="/api-key/production"
                                    class="px-6 bg-gray-300 text-gray-600 py-2 pointer-events-none">Production</a>
                                {{end}}
                                <a href="/api-key/sandbox"
                                    class="px-6 hover:bg-petnetblue hover:bg-opacity-20 py-2">Sandbox</a>
                                {{else}}
                                {{if .HasLiveAccess}}
                                <a href="/oauth2-authorization-code/production"
                                    class="px-6 hover:bg-petnetblue hover:bg-opacity-20 py-2">Production</a>
                                {{else}}
                                <a href="/oauth2-authorization-code/production"
                                    class="px-6 bg-gray-300 text-gray-600 pointer-events-none py-2">Production</a>
                                {{end}}
                                <a href="/oauth2-authorization-code/sandbox"
                                    class="px-6 hover:bg-petnetblue hover:bg-opacity-20 py-2">Sandbox</a>
                                {{end}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        {{end}}
        <li>
            <div class="relative" id="topDropdownBox">
                <a href="javascript:;" class="inline-block" onclick="toggleTopButton('openNotifiDropdown')">
                    <span class="relative inline-block">
                        <svg id="notify" xmlns="http://www.w3.org/2000/svg" class="h-9 w-9" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                        </svg>
                        {{if .OnboardingIncompleteStatus}}
                        <span class="inline-block w-2 h-2 rounded-full bg-petnetred absolute top-1 right-1"></span>
                        {{end}}
                    </span>
                </a>

                {{if .OnboardingIncompleteStatus}}
                <div class="absolute right-0 top-12 hidden" id="openNotifiDropdown">
                    <div
                        class="transform skew-y-12 skew-x-12 rotate-45 w-6 h-6 absolute ml-auto top-0 right-0 shadow bg-white z-10">
                    </div>
                    <div class="shadow-lg  absolute top-3 -right-5 rounded">
                        <div class="relative z-20 p-3 w-72 bg-white rounded">
                            <div class="border-b pl-2 pt-3 pb-2">
                                Notifications
                            </div>

                            <div class="flex">
                                <div class="w-24 pt-3">
                                    <img src="{{ assetHash "/images/info.png" }}" alt="">
                                </div>
                                <div class="text-left pt-2">
                                    <a href="/register/businessinfo">
                                        <p class="text-petnetblue font-semibold">Onboarding Flow</p>
                                        <p class="text-sm">Answer onboarding form here to access production mode.</p>
                                    </a>
                                </div>
                                <img class="cursor-pointer" onclick="toggleTopButton('openNotifiDropdown')"
                                    src="{{ assetHash "/images/cross.svg" }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                {{end}}
            </div>
        </li>
        <li>
            {{ template "top-head-profile.html" dict "UserInfo" .UserInfo "CompanyName" .CompanyName .}}
        </li>
        <li>
            <div class="relative" id="topDropdownBox">
                <a href="javascript:;" onclick="toggleTopButton('openTopDropdown')">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                    </svg>
                </a>
                <div class="absolute right-0 top-12 hidden" id="openTopDropdown">
                    <div
                        class="transform skew-y-12 skew-x-12 rotate-45 w-6 h-6 absolute ml-auto top-0 right-0 shadow bg-white z-10">
                    </div>
                    <div class="shadow-lg  absolute top-3 -right-5 rounded ">
                        <div class="relative z-20 p-3 w-36 bg-white rounded space-y-2">
                            <a class="flex text-sm items-center" href="/profile">
								<svg class="mr-2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M16 8C16 10.21 14.21 12 12 12C9.79 12 8 10.21 8 8C8 5.79 9.79 4 12 4C14.21 4 16 5.79 16 8ZM4 18C4 15.34 9.33 14 12 14C14.67 14 20 15.34 20 18V19C20 19.55 19.55 20 19 20H5C4.45 20 4 19.55 4 19V18Z" fill="#333333"/>
								</svg>
								Profile
							</a>
                            <a href="/logout" class="flex text-sm">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                                </svg>
                                Logout
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="mb-4 flex flex-wrap justify-between">
        <h2 class="text-4xl font font-bold text-petnetblue mr-4">
            {{if eq .CompanyName ""}}
            Please complete your onboarding
            {{else}}
            {{.CompanyName}}
            {{end}}
        </h2>
    </div>
</div>
<!-- right-top-header-end -->
{{ if eq .Env "sandbox" }}
<div class="bg-petnetorange bg-opacity-40 text-center text-petnetblue p-4">
    You are currently in Sandbox mode
</div>
{{end}}

<script>
    function toggleTopButton(id) {
        let getDropdownItem = document.getElementById(id)
        let isHiddenClass = getDropdownItem.classList.contains('hidden');
        if (!isHiddenClass) {
            getDropdownItem.classList.add("hidden");
        } else {
            getDropdownItem.classList.remove("hidden");
        }
    }
    window.addEventListener('click', function (e) {
        if (!document.getElementById('notify').contains(e.target)) {
            let openNotifDropdown = document.getElementById('openNotifiDropdown')
            if (typeof openNotifDropdown != undefined && openNotifDropdown != null) {
                openNotifDropdown.classList.add("hidden")
            }

        }
    });
</script>
