<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ assetHash "/css/app.min.css" }}">
    <title>Password Confirmation</title>
    <style>
		.radioColor { filter: hue-rotate(218deg) }
	</style>
</head>

<body class="font-sans">
    <div class="flex">
        <!-- sidebar-start -->
        {{ template "dsa-sidenav-menu.html" dict "Type" "api-pages" "Data" .}}
        <!-- sidebar-end -->

        <!-- right-top-header-start -->
        <div class="min-h-screen w-full flex bg-petnetgray">
            <div class="w-full">
                <div class="px-6 lg:px-32 py-10 relative z-10 ">
                    <ul class="flex justify-end items-center space-x-4 mb-16">
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-9 w-9" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                            </svg>
                        </li>
                        <li>
                            {{ template "top-head-profile.html" dict "UserInfo" .UserInfo "CompanyName" .CompanyName .}}
                        </li>
                        <li>
                            <div class="relative" id="topDropdownBox">
                                <a href="javascript:;" onclick="toggleTopButton('openTopDropdown')">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                        stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M19 9l-7 7-7-7" />
                                    </svg>
                                </a>
                                <div class="absolute right-0 top-12 hidden" id="openTopDropdown">
                                    <div
                                        class="transform skew-y-12 skew-x-12 rotate-45 w-6 h-6 absolute ml-auto top-0 right-0 shadow bg-white z-10">
                                    </div>
                                    <div class="shadow-lg  absolute top-3 -right-5 rounded">
                                        <div class="relative z-20 p-3 w-36 bg-white rounded space-y-2">
                                            <a class="flex text-sm items-center" href="/profile">
                                                <svg class="mr-2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16 8C16 10.21 14.21 12 12 12C9.79 12 8 10.21 8 8C8 5.79 9.79 4 12 4C14.21 4 16 5.79 16 8ZM4 18C4 15.34 9.33 14 12 14C14.67 14 20 15.34 20 18V19C20 19.55 19.55 20 19 20H5C4.45 20 4 19.55 4 19V18Z" fill="#333333"/>
                                                </svg>
                                                Profile
                                            </a>
                                            <a href="/logout" class="flex text-sm">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none"
                                                    viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2"
                                                        d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                                                </svg>
                                                Logout
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
                <!-- right-top-header-end -->

                <div class=" flex flex-col justify-center items-center mt-10">
                    <div>
                        
                        <h1 class="flex justify-center font-extrabold text-4xl mb-10 text-petnetblue">
                            Enter Password
                        </h1>
                        <h3 class="flex justify-center text-xl font-medium">
                            Enter your email & password to continue to create your API Token.

                        </h3>
                        <h3 class="flex justify-center text-xl font-medium">
                            Do not share your Client ID and Secret Key outside your organization
                        </h3>
                        <form action="/api-key/generate/{{.Environment}}" method="POST">
                            {{.CSRFField}}
                            <div class="flex flex-col justify-center mx-20 my-10">
                                <div class="relative flex-row">
                                    <input type="text" required="required" name="Email" id="Email" class="Email w-full mb-2 px-3 py-2 border border-gray-300 rounded-md focus:outline-none" placeholder="Email" value="{{.Email}}" />
                                    {{if .InvalidEmail}}
                                    <p class="text-sm pb-2 px-1 text-red-600 font-semibold">Invalid Email</p>
                                    {{end}}
                                    <input type="password" required="required" name="Password" id="password"
                                        class="password w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none" placeholder="Password" autocomplete="off"/>
                                    <span class="absolute bottom-2 right-4 z-10 opacity-10 toggle-password cursor-pointer">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" viewBox="0 0 20 20"
                                            fill="currentColor">
                                            <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
                                            <path fill-rule="evenodd"
                                                d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z"
                                                clip-rule="evenodd" />
                                        </svg>
                                    </span>
                                </div>
                                {{if .InvalidPassword}}
                                <p class="text-sm pb-2 px-1 text-red-600 font-semibold">Invalid Password</p>
                                {{end}}
                                <div class="flex justify-between py-2">
                                    <p class="py-2">Transaction Type</p>
                                    <div class="relative inline-flex">
                                        <svg class="w-2 h-2 absolute top-0 right-0 m-4 pointer-events-none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 412 232"><path d="M206 171.144L42.678 7.822c-9.763-9.763-25.592-9.763-35.355 0-9.763 9.764-9.763 25.592 0 35.355l181 181c4.88 4.882 11.279 7.323 17.677 7.323s12.796-2.441 17.678-7.322l181-181c9.763-9.764 9.763-25.592 0-35.355-9.763-9.763-25.592-9.763-35.355 0L206 171.144z" fill="#648299" fill-rule="nonzero"/></svg>
                                        {{if or (eq .TransactionType "DIGITAL,OTC") (eq .TransactionType "OTC,DIGITAL")}}
                                        <select onchange="checkInputValue(this)" name="TransactionType" class="border border-gray-300 rounded-md text-gray-600 h-10 pl-5 pr-10 bg-white hover:border-gray-300 focus:outline-none appearance-none">
                                          <option selected disabled>Choose a Type</option>
                                          <option value="OTC" {{if eq .SelectedTransactionType "OTC"}}selected{{end}}>Over the counter</option>
                                          <option value="DIGITAL" {{if eq .SelectedTransactionType "DIGITAL"}}selected{{end}}>Digital</option>
                                        </select>
                                        {{end}}
                                        {{if eq .TransactionType "DIGITAL"}}
                                        <select onchange="checkInputValue(this)" name="TransactionType" class="border border-gray-300 rounded-md text-gray-600 h-10 pl-5 pr-10 bg-white hover:border-gray-300 focus:outline-none appearance-none">
                                            <option selected disabled>Choose a Type</option>
                                            <option disabled value="OTC" {{if eq .SelectedTransactionType "OTC"}}selected{{end}}>Over the counter</option>
                                            <option value="DIGITAL" {{if eq .SelectedTransactionType "DIGITAL"}}selected{{end}}>Digital</option>
                                        </select>
                                        {{end}}
                                        {{if eq .TransactionType "OTC"}}
                                        <select onchange="checkInputValue(this)" name="TransactionType" class="border border-gray-300 rounded-md text-gray-600 h-10 pl-5 pr-10 bg-white hover:border-gray-300 focus:outline-none appearance-none">
                                            <option selected disabled>Choose a Type</option>
                                            <option value="OTC" {{if eq .SelectedTransactionType "OTC"}}selected{{end}}>Over the counter</option>
                                            <option disabled value="DIGITAL" {{if eq .SelectedTransactionType "DIGITAL"}}selected{{end}}>Digital</option>
                                        </select>
                                        {{end}}
                                      </div>
                                </div>
                                <div>
                                    {{if .InvlidTransactionType}}
                                        <p id="err-TrType" class="text-sm pb-2 px-1 text-red-600 font-semibold">Please select Transaction Type</p>
                                    {{end}}
                                </div>
                                <div class="flex justify-between">
                                    <label class="inline-flex items-center mt-3">
                                        <input onchange="checkInputValue(this)" value="sandbox"  name="Environment" type="radio" class="radioColor h-5 w-5 text-blue-600" {{if eq .SelectedEnvironment "sandbox"}}checked{{end}}><span class="ml-2 text-gray-700">Sandbox Environment</span>
                                    </label>
                                    <label class="inline-flex items-center mt-3 {{if ne .Status "Accepted"}} hidden {{end}}">
                                        <input onchange="checkInputValue(this)" value="production" name="Environment" type="radio" class="radioColor h-5 w-5 text-blue-600" {{if eq .SelectedEnvironment "production"}}checked{{end}}><span class="ml-2 text-gray-700">Production Environment</span>
                                    </label>
                                </div>
                                <div>
                                    {{if .InvalidEnvironment}}
                                    <p id="err-Env" class="text-sm pb-2 px-1 text-red-600 font-semibold">Please select Environment</p>
                                    {{end}}
                                </div>
                            </div>
                                {{if .CreateApiError}}
                                <p class="text-red-500 text-center pb-4">There’s an existing API ready for this transaction type and environment</p>
                                {{end}}
                            <div class="flex justify-center">
                                <button class="bg-petnetblue text-white px-20 py-3 rounded-lg ">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script>
        // Toggle show password
        document.addEventListener("DOMContentLoaded", function () {
          var togglePasswordBtn = document.getElementsByClassName("toggle-password");
          var passwordInput = document.getElementsByClassName('password');
          for (let i = 0; i < togglePasswordBtn.length; i++) {
            let togglePassword = togglePasswordBtn[i]
            let password = passwordInput[i]
            togglePassword.addEventListener("click", function () {
              password.type = (password.type === "password") ? "text" : "password";
            });
          }
        });

        function toggleTopButton(id){
        let getDropdownItem = document.getElementById(id)
        let isHiddenClass = getDropdownItem.classList.contains('hidden');
        if (!isHiddenClass) {
            getDropdownItem.classList.add("hidden");
        }else{
            getDropdownItem.classList.remove("hidden");
        }
        }

        let radioColor = document.getElementsByClassName('radioColor')
        for (let i = 0; i < radioColor.length; i++) {
            let radio = radioColor[i]
            radio.addEventListener("click", function () {
                for (let j = 0; j < radioColor.length; j++) {
                    let radio = radioColor[j]
                    radio.checked = false
                }
                this.checked = true
            }
            )
        }

        function checkInputValue(element) {
            const invalidTransactionType = {{ .InvlidTransactionType}};
            const invalidEnvironment = {{ .InvalidEnvironment}};
 
            if (element && element.value != "" && element.value != undefined) {
                if (element.name == "TransactionType" && invalidTransactionType) {
                    document.getElementById('err-TrType').classList.add('hidden')
                }
                if (element.name == "Environment" && invalidEnvironment ) {
                    document.getElementById('err-Env').classList.add('hidden')
                }
            }
        }
      </script>
</body>

</html>
