<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ assetHash "/css/app.min.css" }}">
    <title>Authorization Code</title>
</head>

<body class="font-sans">
    <div class="flex">
        <!-- sidebar-start -->
        {{ template "dsa-sidenav-menu.html" dict "Type" "api-pages" "Data" .}}
        <!-- sidebar-end -->

        <!-- right-top-header-start -->
        <div class="min-h-screen w-full flex bg-petnetgray">
            <div class="w-full">
                <div class="px-6 lg:px-32 py-10 relative z-10 ">
                    <ul class="flex justify-end items-center space-x-4 mb-16">
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-9 w-9" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                            </svg>
                        </li>
                        <li>
                            <span
                                class="inline-flex items-center justify-center bg-pink-500 uppercase w-9 h-9 rounded-full text-white">
                                {{if .UserInfo}}
                                {{printf "%c%c" (index .UserInfo.FirstName 0) (index .UserInfo.LastName 0)}}
                                {{else}}
                                AC
                                {{end}}
                            </span>
                        </li>
                        <li>
                            <div class="relative" id="topDropdownBox">
                                <a href="javascript:;" onclick="toggleTopButton('openTopDropdown')">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M19 9l-7 7-7-7" />
                                    </svg>
                                </a>
                                <div class="absolute right-0 top-12 hidden" id="openTopDropdown">
                                    <div
                                        class="transform skew-y-12 skew-x-12 rotate-45 w-6 h-6 absolute ml-auto top-0 right-0 shadow bg-white z-10">
                                    </div>
                                    <div class="shadow-lg  absolute top-3 -right-5 rounded">
                                        <div class="relative z-20 p-3 w-36 bg-white rounded space-y-2">
                                            <a class="flex text-sm items-center" href="/profile">
                                                <svg class="mr-2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16 8C16 10.21 14.21 12 12 12C9.79 12 8 10.21 8 8C8 5.79 9.79 4 12 4C14.21 4 16 5.79 16 8ZM4 18C4 15.34 9.33 14 12 14C14.67 14 20 15.34 20 18V19C20 19.55 19.55 20 19 20H5C4.45 20 4 19.55 4 19V18Z" fill="#333333"/>
                                                </svg>
                                                Profile
                                            </a>
                                            <a href="/logout" class="flex text-sm">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none"
                                                    viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2"
                                                        d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                                                </svg>
                                                Logout
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
                <!-- right-top-header-end -->

                <div class=" flex flex-col justify-center items-center">
                    <div>
                        <div class="flex justify-center mb-12">
                            <img src="{{ assetHash "/images/success-page.svg" }}" alt="">

                        </div>
                        <h1 class="flex justify-center font-extrabold text-petnetblue text-4xl mb-10 ">
                            Successfully created Authorization Code credentials.
                        </h1>
                        <h3 class="text-center text-petnetdarkblue text-xl font-medium mb-5">
                            These credentials can be used to authenticate users on the DRP. <br> For
                            integration of the authorization code flow, please use an <a
                                class="mx-2 text-petnetlightblue" target="_blank" href="https://oauth.net/code/"> OAuth2
                            </a> or <a class="mx-2 text-petnetlightblue" target="_blank"
                                href="https://openid.net/developers/certified/"> OpenID </a> Connect library.

                        </h3>
                        <h3 class="flex justify-center text-petnetdarkblue text-xl font-medium mb-8 ">
                            Do not share this outside your organization.
                        </h3>
                        <div class="flex flex-col items-center justify-center">
                            <div class=" flex items-center pr-8 pl-14 mb-4">
                                <p class="text-xl pr-6 font-bold text-petnetblue">Client ID</p>
                                <input type="search" class="bg-white border rounded-l p-2 w-96" value="{{.ClientID}}"
                                    placeholder="">
                                <button onclick="copyKey('{{.ClientID}}',event)"
                                    class="bg-petnetblue py-2 px-6 rounded-r text-white h-11 w-24 text-center">
                                    Copy
                                </button>

                            </div>
                            <div class=" flex items-center px-4 ">
                                <p class="text-xl pr-6 font-bold text-petnetblue">Secret Key</p>
                                <input type="search" class="bg-white border rounded-l p-2 w-96"
                                    value="{{.ClientSecret}}" placeholder="">
                                <button onclick="copyKey('{{.ClientSecret}}',event)"
                                    class="bg-petnetblue py-2 px-6 rounded-r text-white h-11 w-24 text-center">
                                    Copy
                                </button>

                            </div>

                        </div>

                        <div class="flex justify-center mt-8">
                            <img src="{{ assetHash "/images/arrow-back.svg" }}" alt="">
                            <a href="/oauth2-authorization-code/{{.Environment}}"
                                class="text-petnetlightblue font-bold px-6 py-3 rounded-lg ">
                                Back to Integrations
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script>
        function copyKey(id, event) {
            event.target.innerText = "Copied"
            const el = document.createElement('textarea');
            el.value = id;
            document.body.appendChild(el);
            el.select();
            document.execCommand('copy');
            document.body.removeChild(el);
            setTimeout(function () {
                event.target.innerText = "Copy"
            }, 1000);
        }

        function toggleTopButton(id) {
            let getDropdownItem = document.getElementById(id)
            let isHiddenClass = getDropdownItem.classList.contains('hidden');
            if (!isHiddenClass) {
                getDropdownItem.classList.add("hidden");
            } else {
                getDropdownItem.classList.remove("hidden");
            }
        }
    </script>
</body>

</html>