<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ assetHash "/css/app.min.css" }}">
    <title>DSA Services</title>
</head>

<body class="font-sans">
        <div class="flex">
            <!-- sidebar-left-start -->
            {{ template "dsa-sidenav-menu.html" dict "Type" "dsa-services" "Data" .}}
            <!-- sidebarleft-end -->
            
            <!-- top-header-start -->
            <div class="min-h-screen w-full flex bg-petnetgray ">
                <div class="w-full">
                    <div class="px-16 py-4 shadow-md bg-white">
                        <ul class="flex justify-end items-center space-x-4 mb-16">
                        <li class="mr-auto">
                                <a href="/dsa-services" class="inline-flex text-petnetlightblue text-sm items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-4" fill="none"viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
                                    </svg>
                                    Back to List
                                </a>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-9 w-9" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                            </svg>
                        </li>
                        <li>
                            {{ template "top-head-profile.html" dict "UserInfo" .UserInfo "CompanyName" .CompanyName .}}
                        </li>
                        <li>
                            <div class="relative" id="topDropdownBox">
                                <a href="javascript:;" onclick="toggleTopButton('openTopDropdown')">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M19 9l-7 7-7-7" />
                                    </svg>
                                </a>
                                <div class="absolute right-0 top-12 hidden" id="openTopDropdown">
                                    <div
                                        class="transform skew-y-12 skew-x-12 rotate-45 w-6 h-6 absolute ml-auto top-0 right-0 shadow bg-white z-10">
                                    </div>
                                    <div class="shadow-lg  absolute top-3 -right-5 rounded">
                                        <div class="relative z-20 p-3 w-36 bg-white rounded space-y-2">
                                            <a class="flex text-sm items-center" href="/profile">
                                                <svg class="mr-2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16 8C16 10.21 14.21 12 12 12C9.79 12 8 10.21 8 8C8 5.79 9.79 4 12 4C14.21 4 16 5.79 16 8ZM4 18C4 15.34 9.33 14 12 14C14.67 14 20 15.34 20 18V19C20 19.55 19.55 20 19 20H5C4.45 20 4 19.55 4 19V18Z" fill="#333333"/>
                                                </svg>
                                                Profile
                                            </a>
                                            <a href="/logout" class="flex text-sm pl-1">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none"
                                                    viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2"
                                                        d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                                                </svg>
                                                Logout
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        </ul>
                        <div class="mb-4">
                            <h2 class="sm:text-5xl text-petnetblue font-semibold">Request Service</h2>
                        </div>
                    </div>
                    <!-- top-header-end -->
                    <!-- main content-start -->
                    <div class="px-24 xl:px-40 2xl:px-56 py-20 w-full">
                        <div class="shadow overflow-hidden bg-white">
                            <div class="rounded">
                            <!-- step area -->
                            <div class="flex bg-petnetheader bg-opacity-60 rounded-t">
                                <div class="flex px-2 bg-petnetpink justify-center items-center rounded-tl w-1/2 h-12">
                                    <span
                                        class="text-white text-sm rounded-full border-white border h-8 w-8 inline-flex justify-center items-center mr-2">1</span>
                                    <p class="text-white text-sm font-normal">Select Partners</p>
                                </div>
                                <div class="flex px-2 justify-center items-center bg-petnetorange w-1/2 h-12">
                                    <span
                                        class="text-white text-sm rounded-full border-white border h-8 w-8 inline-flex justify-center items-center mr-2">2</span>
                                    <p class="text-white text-sm ">Required Documents</p>
                                </div>
                            </div>
                            <!-- form area -->
                            <form method="POST" action="/dsa-req-docs-cico" enctype="multipart/form-data" name="dsaCiCoDocsForm" onsubmit="return validateForm()">
                                {{ .CSRFField }}
                                    <!-- header text -->
                                <p class="pt-20 pb-3 pl-20 text-2xl font-bold">Upload Service Documents</p>
                                <div class="px-20">
                                    <p class="pt-4 pb-1 text-base font-normal">Non-Disclosure Agreement (NDA)<span class="text-red-700 font-bold">*</span></p>
                                        <div id="file-upload-CICO_nda" class="w-full bg-petnetgray"></div>
                                    <p class="text-red-700 mt-2 all-errs-CICO_nda" id="err-CICO_nda"></p>
                                    {{with .Errors.CICO_nda}}
                                        <p class="text-red-700 mt-2 all-errs-CICO_nda">{{.}}</p>
                                    {{end}}

                                    <p class="pt-4 pb-1 text-base font-normal"> PETNET Supplier Information Sheet (SIS)<span class="text-red-700 font-bold">*</span></p>
                                        <div id="file-upload-CICO_sis" class="w-full bg-petnetgray"></div>
                                    <p class="text-red-700 mt-2 all-errs-CICO_sis" id="err-CICO_sis"></p>
                                    {{with .Errors.CICO_sis}}
                                        <p class="text-red-700 mt-2 all-errs-CICO_sis">{{.}}</p>
                                    {{end}}

                                    <p class="pt-4 pb-1 text-base font-normal">Partner Scoping Form (PSF)<span class="text-red-700 font-bold">*</span></p>
                                        <div id="file-upload-CICO_psf" class="w-full bg-petnetgray"></div>
                                    <p class="text-red-700 mt-2 all-errs-CICO_psf" id="err-CICO_psf"></p>
                                    {{with .Errors.CICO_psf}}
                                        <p class="text-red-700 mt-2 all-errs-CICO_psf">{{.}}</p>
                                    {{end}}

                                    <p class="pt-4 pb-1 text-base font-normal">Product or Service Procedure/Process Flow (API Document)<span class="text-red-700 font-bold">*</span></p>
                                        <div id="file-upload-CICO_pspp" class="w-full bg-petnetgray"></div>
                                    <p class="text-red-700 mt-2 all-errs-CICO_pspp" id="err-CICO_pspp"></p>
                                    {{with .Errors.CICO_pspp}}
                                        <p class="text-red-700 mt-2 all-errs-CICO_pspp">{{.}}</p>
                                    {{end}}

                                    <p class="text-lg font-semibold">Company Documents:</p>

                                    <p class="pt-4 pb-1 text-base font-normal"> SEC Registration<span class="text-red-700 font-bold">*</span></p>
                                        <div id="file-upload-CICO_sec" class="w-full bg-petnetgray"></div>
                                    <p class="text-red-700 mt-2 all-errs-CICO_sec" id="err-CICO_sec"></p>
                                    {{with .Errors.CICO_sec}}
                                        <p class="text-red-700 mt-2 all-errs-CICO_sec">{{.}}</p>
                                    {{end}}

                                    <p class="pt-4 pb-1 text-base font-normal">Latest General Information Sheet (GIS)<span class="text-red-700 font-bold">*</span></p>
                                        <div id="file-upload-CICO_gis" class="w-full bg-petnetgray"></div>
                                    <p class="text-red-700 mt-2 all-errs-CICO_gis" id="err-CICO_gis"></p>
                                    {{with .Errors.CICO_gis}}
                                        <p class="text-red-700 mt-2 all-errs-CICO_gis">{{.}}</p>
                                    {{end}}

                                    <p class="pt-4 pb-1 text-base font-normal">Latest & Prior 1 Year Audited Financial Statements<span class="text-red-700 font-bold">*</span></p>
                                        <div id="file-upload-CICO_afs" class="w-full bg-petnetgray"></div>
                                    <p class="text-red-700 mt-2 all-errs-CICO_afs" id="err-CICO_afs"></p>
                                    {{with .Errors.CICO_afs}}
                                        <p class="text-red-700 mt-2 all-errs-CICO_afs">{{.}}</p>
                                    {{end}}

                                    <p class="pt-4 pb-1 text-base font-normal">BIR Registration<span class="text-red-700 font-bold">*</span></p>
                                        <div id="file-upload-CICO_bir" class="w-full bg-petnetgray"></div>
                                    <p class="text-red-700 mt-2 all-errs-CICO_bir" id="err-CICO_bir"></p>
                                    {{with .Errors.CICO_bir}}
                                        <p class="text-red-700 mt-2 all-errs-CICO_bir">{{.}}</p>
                                    {{end}}

                                    <p class="pt-4 pb-1 text-base font-normal">BSP Registration</p>
                                        <div id="file-upload-CICO_bsp" class="w-full bg-petnetgray"></div>
                                    <p class="text-red-700 mt-2 all-errs-CICO_bsp" id="err-CICO_bsp"></p>
                                    
                                    <p class="pt-4 pb-1 text-base font-normal">Anti-Money Laundering (AML) Registration</p>
                                        <div id="file-upload-CICO_aml" class="w-full bg-petnetgray"></div>
                                    <p class="text-red-700 mt-2 all-errs-CICO_aml" id="err-CICO_aml"></p>

                                    <p class="pt-4 pb-1 text-base font-normal">Secretary's Certificate for Company's Authorized Signatory<span class="text-red-700 font-bold">*</span></p>
                                        <div id="file-upload-CICO_sccas" class="w-full bg-petnetgray"></div>
                                    <p class="text-red-700 mt-2 all-errs-CICO_sccas" id="err-CICO_sccas"></p>
                                    {{with .Errors.CICO_sccas}}
                                        <p class="text-red-700 mt-2 all-errs-CICO_sccas">{{.}}</p>
                                    {{end}}
                                    
                                    <p class="pt-4 pb-1 text-base font-normal">Valid government-issued ID of Authorized Signatory<span class="text-red-700 font-bold">*</span></p>
                                        <div id="file-upload-CICO_vgid" class="w-full bg-petnetgray"></div>
                                    <p class="text-red-700 mt-2 all-errs-CICO_vgid" id="err-CICO_vgid"></p>
                                    {{with .Errors.CICO_vgid}}
                                        <p class="text-red-700 mt-2 all-errs-CICO_vgid">{{.}}</p>
                                    {{end}}

                                    <p class="pt-4 pb-1 text-base font-normal">Company Profile<span class="text-red-700 font-bold">*</span></p>
                                        <div id="file-upload-CICO_cp" class="w-full bg-petnetgray"></div>
                                    <p class="text-red-700 mt-2 all-errs-CICO_cp" id="err-CICO_cp"></p>
                                    {{with .Errors.CICO_cp}}
                                        <p class="text-red-700 mt-2 all-errs-CICO_cp">{{.}}</p>
                                    {{end}}
                                
                                    <p class="pt-4 pb-1 text-base">MOA Draft<span class="text-red-700 font-bold">*</span></p>
                                        <div id="file-upload-CICO_moa" class="w-full bg-petnetgray"></div>
                                    <p class="text-red-700 mt-2 all-errs-CICO_moa" id="err-CICO_moa"></p>
                                    {{with .Errors.CICO_moa}}
                                        <p class="text-red-700 mt-2 all-errs-CICO_moa">{{.}}</p>
                                    {{end}}

                                    <p class="pt-4 pb-1 text-base">AMLA Training Certificate of Directors<span class="text-red-700 font-bold">*</span></p>
                                        <div id="file-upload-CICO_amla" class="w-full bg-petnetgray"></div>
                                    <p class="text-red-700 mt-2 all-errs-CICO_amla" id="err-CICO_amla"></p>
                                    {{with .Errors.CICO_amla}}
                                        <p class="text-red-700 mt-2 all-errs-CICO_amla">{{.}}</p>
                                    {{end}}

                                    <p class="pt-4 pb-1 text-base">MTPP-Money Laundering and Terrorist Financing Prevention Program Manual<span class="text-red-700 font-bold">*</span></p>
                                        <div id="file-upload-CICO_mtpp" class="w-full bg-petnetgray"></div>
                                    <p class="text-red-700 mt-2 all-errs-CICO_mtpp" id="err-CICO_mtpp"></p>
                                    {{with .Errors.CICO_mtpp}}
                                        <p class="text-red-700 mt-2 all-errs-CICO_mtpp">{{.}}</p>
                                    {{end}}

                                    <p class="pt-4 pb-1 text-base">Scanned copy of IDs of Signatories<span class="text-red-700 font-bold">*</span></p>
                                        <div id="file-upload-CICO_is" class="w-full bg-petnetgray"></div>
                                    <p class="text-red-700 mt-2 all-errs-CICO_is" id="err-CICO_is"></p>
                                    {{with .Errors.CICO_is}}
                                        <p class="text-red-700 mt-2 all-errs-CICO_is">{{.}}</p>
                                    {{end}}

                                    <p class="pt-4 pb-1 text-base font-normal">Enhanced Due Diligence (EDD)</p>
                                        <div id="file-upload-CICO_edd" class="w-full bg-petnetgray"></div>
                                    <p class="text-red-700 mt-2 all-errs-CICO_edd" id="err-CICO_edd"></p>
                                    
                                    <div class="flex flex-wrap pt-6 justify-between bg-white pb-20">
                                        <div class="lg:w-auto w-full text-center">
                                            <a href="/dsa-select-provider" class="rounded-md font-normal text-sm text-petnetblue border border-petnetblue  py-3 my-3 text-center w-44 inline-block">
                                            Back
                                            </a>
                                        </div>
                                        <div class="lg:w-auto w-full lg:ml-auto text-center">
                                            <button id="SaveDraft" name="SaveDraft" value="SaveDraft" type="submit" onclick="submitForm('SaveDraft')" class="bg-petnetlightblue border border-petnetlightblue text-sm text-white  py-3 rounded-md font-normal my-3 text-center w-44 ml-auto">
                                            Save as Draft 
                                            </button>
                                        </div>
                                        <div class="lg:w-auto w-full text-center">
                                            <button id="SaveContinue" name="SaveContinue" value="SaveContinue" type="submit" onclick="submitForm('SaveContinue')" class="bg-petnetyellow border border-petnetyellow text-sm text-petnetblue  py-3 rounded-md font-normal my-3 text-center w-44 ml-0 lg:ml-4">                                
                                            Request Service
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- main content-end -->
                </div>
            </div>
        </div>
</body>
<script src="{{ assetHash "/js/fileupload.js" }}"></script>
<script>
    let tags = document.querySelectorAll(".upin");
    tags.forEach((item) => {
        item.addEventListener('change', ()=>{
            let hasValue = false;
            for (var i = 0; i < tags.length; i++) {
                if (tags[i].value !== "") {
                    hasValue = true;
                    break
                }
            }
            if(hasValue) {
                console.log("field has value");
            }
        })
    })
</script>
<script>
    var CICO_ndaForms = "{{.CICO_ndaForms}}"
    var CICO_ndaID = "{{.CICO_ndaID}}"
    var CICO_sisForms = "{{.CICO_sisForms}}"
    var CICO_sisID = "{{.CICO_sisID}}"
    var CICO_psfForms = "{{.CICO_psfForms}}"
    var CICO_psfID = "{{.CICO_psfID}}"
    var CICO_psppForms = "{{.CICO_psppForms}}"
    var CICO_psppID = "{{.CICO_psppID}}"
    var CICO_secForms = "{{.CICO_secForms}}"
    var CICO_secID = "{{.CICO_secID}}"
    var CICO_gisForms = "{{.CICO_gisForms}}"
    var CICO_gisID = "{{.CICO_gisID}}"
    var CICO_afsForms = "{{.CICO_afsForms}}"
    var CICO_afsID = "{{.CICO_afsID}}"
    var CICO_birForms = "{{.CICO_birForms}}"
    var CICO_birID = "{{.CICO_birID}}"
    var CICO_bspForms = "{{.CICO_bspForms}}"
    var CICO_bspID = "{{.CICO_bspID}}"
    var CICO_amlForms = "{{.CICO_amlForms}}"
    var CICO_amlID = "{{.CICO_amlID}}"
    var CICO_sccasForms = "{{.CICO_sccasForms}}"
    var CICO_sccasID = "{{.CICO_sccasID}}"
    var CICO_vgidForms = "{{.CICO_vgidForms}}"
    var CICO_vgidID = "{{.CICO_vgidID}}"
    var CICO_cpForms = "{{.CICO_cpForms}}"
    var CICO_cpID = "{{.CICO_cpID}}"
    var CICO_moaForms = "{{.CICO_moaForms}}"
    var CICO_moaID = "{{.CICO_moaID}}"
    var CICO_amlaForms = "{{.CICO_amlaForms}}"
    var CICO_amlaID = "{{.CICO_amlaID}}"
    var CICO_mtppForms = "{{.CICO_mtppForms}}"
    var CICO_mtppID = "{{.CICO_mtppID}}"
    var CICO_isForms = "{{.CICO_isForms}}"
    var CICO_isID = "{{.CICO_isID}}"
    var CICO_eddForms = "{{.CICO_eddForms}}"
    var CICO_eddID = "{{.CICO_eddID}}"
 
    var CSRFFieldValue = "{{.CSRFFieldValue}}"
</script>
<script>
    var isFormSubmit = false;
    function isFileSelected(el) {
        if (!el) {
            console.log("file input not present");
            return false;
        }

        // If files are uploaded previously, then that file is not requireds
        if (document.getElementsByName("uploaded-" + el.name).length > 0) {
            return true
        }

        // if not multiple
        if (el.files && el.files.length > 0) {
            return true;
        }

        // if multiple
        for (let i = 0; i < el.length; i++) {
            if (el[i].files.length > 0) {
                return true;
            }
        }

        return false
    }

    function addDocErrorMessage(field, msg) {
        if (field == "") {
            return;
        }

        let fieldContainer = document.getElementById("file-upload-" + field);
        if (!fieldContainer) {
            return;
        }

        // remove errors if no error msg
        if (msg == "") {
            fieldContainer.classList.remove("border-red-500", "border");
            let allDocErrs = document.querySelector(".all-errs-" + field);
            if (allDocErrs) {
                allDocErrs.innerHTML = "";
            }

            return;
        }

        // for error
        fieldContainer.classList.add("border-red-500", "border");
        document.getElementById("err-" + field).innerHTML = msg
    }
		
    const cico_nda = [];
    var CICO_ndaFormsL = CICO_ndaForms.split(",");
    if(CICO_ndaFormsL.length > 0){
        CICO_ndaFormsL.forEach(function(item){
            if(item != ""){
                cico_nda.push({
                    'name':item,
                    'url':"/u/files/"+item,
                    'input':CICO_ndaID,
                    'video':false
                });
            }
        });
    }
    new FileUpload("CICO_nda", 3, ["Doc", "docx", "pdf", "png", "jpg", "jpeg"],
        "", "Choose file/s to upload", cico_nda, '', {
            'previewImages': true,
            'multiple': true,
            'uploadCallback': function () {
                return addDocErrorMessage("CICO_nda", "")
            }
        });
    const cico_sis = [];
    var CICO_sisFormsL = CICO_sisForms.split(",");
    if(CICO_sisFormsL.length > 0){
        CICO_sisFormsL.forEach(function(item){
            if(item != ""){
                cico_sis.push({
                    'name':item,
                    'url':"/u/files/"+item,
                    'input':CICO_sisID,
                    'video':false
                });
            }
        });
    }
    new FileUpload("CICO_sis", 3, ["Doc", "docx", "pdf", "png", "jpg", "jpeg"],
        "", "Choose file/s to upload", cico_sis, '', {
            'previewImages': true,
            'multiple': true,
            'uploadCallback': function () {
                return addDocErrorMessage("CICO_sis", "")
            }
        });
    const cico_psf = [];
    var CICO_psfFormsL = CICO_psfForms.split(",");
    if(CICO_psfFormsL.length > 0){
        CICO_psfFormsL.forEach(function(item){
            if(item != ""){
                cico_psf.push({
                    'name':item,
                    'url':"/u/files/"+item,
                    'input':CICO_psfID,
                    'video':false
                });
            }
        });
    }
    new FileUpload("CICO_psf", 3, ["Doc", "docx", "pdf", "png", "jpg", "jpeg"],
        "", "Choose file/s to upload", cico_psf, '', {
            'previewImages': true,
            'multiple': true,
            'uploadCallback': function () {
                return addDocErrorMessage("CICO_psf", "")
            }
        });
    const cico_pspp = [];
    var CICO_psppFormsL = CICO_psppForms.split(",");
    if(CICO_psppFormsL.length > 0){
        CICO_psppFormsL.forEach(function(item){
            if(item != ""){
                cico_pspp.push({
                    'name':item,
                    'url':"/u/files/"+item,
                    'input':CICO_psppID,
                    'video':false
                });
            }
        });
    }
    new FileUpload("CICO_pspp", 3, ["Doc", "docx", "pdf", "png", "jpg", "jpeg"],
        "", "Choose file/s to upload", cico_pspp, '', {
            'previewImages': true,
            'multiple': true,
            'uploadCallback': function () {
                return addDocErrorMessage("CICO_pspp", "")
            }
        });
    const cico_sec = [];
    var CICO_secFormsL = CICO_secForms.split(",");
    if(CICO_secFormsL.length > 0){
        CICO_secFormsL.forEach(function(item){
            if(item != ""){
                cico_sec.push({
                    'name':item,
                    'url':"/u/files/"+item,
                    'input':CICO_secID,
                    'video':false
                });
            }
        });
    }
    new FileUpload("CICO_sec", 3, ["Doc", "docx", "pdf", "png", "jpg", "jpeg"],
        "", "Choose file/s to upload", cico_sec, '', {
            'previewImages': true,
            'multiple': true,
            'uploadCallback': function () {
                return addDocErrorMessage("CICO_sec", "")
            }
        });
    const cico_gis = [];
    var CICO_gisFormsL = CICO_gisForms.split(",");
    if(CICO_gisFormsL.length > 0){
        CICO_gisFormsL.forEach(function(item){
            if(item != ""){
                cico_gis.push({
                    'name':item,
                    'url':"/u/files/"+item,
                    'input':CICO_gisID,
                    'video':false
                });
            }
        });
    }
    new FileUpload("CICO_gis", 3, ["Doc", "docx", "pdf", "png", "jpg", "jpeg"],
        "", "Choose file/s to upload", cico_gis, '', {
            'previewImages': true,
            'multiple': true,
            'uploadCallback': function () {
                return addDocErrorMessage("CICO_gis", "")
            }
        });
    const cico_afs = [];
    var CICO_afsFormsL = CICO_afsForms.split(",");
    if(CICO_afsFormsL.length > 0){
        CICO_afsFormsL.forEach(function(item){
            if(item != ""){
                cico_afs.push({
                    'name':item,
                    'url':"/u/files/"+item,
                    'input':CICO_afsID,
                    'video':false
                });
            }
        });
    }
    new FileUpload("CICO_afs", 3, ["Doc", "docx", "pdf", "png", "jpg", "jpeg"],
        "", "Choose file/s to upload", cico_afs, '', {
            'previewImages': true,
            'multiple': true,
            'uploadCallback': function () {
                return addDocErrorMessage("CICO_afs", "")
            }
        });
    const cico_bir = [];
    var CICO_birFormsL = CICO_birForms.split(",");
    if(CICO_birFormsL.length > 0){
        CICO_birFormsL.forEach(function(item){
            if(item != ""){
                cico_bir.push({
                    'name':item,
                    'url':"/u/files/"+item,
                    'input':CICO_birID,
                    'video':false
                });
            }
        });
    }
    new FileUpload("CICO_bir", 3, ["Doc", "docx", "pdf", "png", "jpg", "jpeg"],
        "", "Choose file/s to upload", cico_bir, '', {
            'previewImages': true,
            'multiple': true,
            'uploadCallback': function () {
                return addDocErrorMessage("CICO_bir", "")
            }
        });
    const cico_bsp = [];
    var CICO_bspFormsL = CICO_bspForms.split(",");
    if(CICO_bspFormsL.length > 0){
        CICO_bspFormsL.forEach(function(item){
            if(item != ""){
                cico_bsp.push({
                    'name':item,
                    'url':"/u/files/"+item,
                    'input':CICO_bspID,
                    'video':false
                });
            }
        });
    }
    new FileUpload("CICO_bsp", 3, ["Doc", "docx", "pdf", "png", "jpg", "jpeg"],
        "", "Choose file/s to upload", cico_bsp, '', {
            'previewImages': true,
            'multiple': true
        });
    const cico_aml = [];
    var CICO_amlFormsL = CICO_amlForms.split(",");
    if(CICO_amlFormsL.length > 0){
        CICO_amlFormsL.forEach(function(item){
            if(item != ""){
                cico_aml.push({
                    'name':item,
                    'url':"/u/files/"+item,
                    'input':CICO_amlID,
                    'video':false
                });
            }
        });
    }
    new FileUpload("CICO_aml", 3, ["Doc", "docx", "pdf", "png", "jpg", "jpeg"],
        "", "Choose file/s to upload", cico_aml, '', {
            'previewImages': true,
            'multiple': true
        });
    const cico_sccas = [];
    var CICO_sccasFormsL = CICO_sccasForms.split(",");
    if(CICO_sccasFormsL.length > 0){
        CICO_sccasFormsL.forEach(function(item){
            if(item != ""){
                cico_sccas.push({
                    'name':item,
                    'url':"/u/files/"+item,
                    'input':CICO_sccasID,
                    'video':false
                });
            }
        });
    }
    new FileUpload("CICO_sccas", 3, ["Doc", "docx", "pdf", "png", "jpg", "jpeg"],
        "", "Choose file/s to upload", cico_sccas, '', {
            'previewImages': true,
            'multiple': true,
            'uploadCallback': function () {
                return addDocErrorMessage("CICO_sccas", "")
            }
        });
    const cico_vgid = [];
    var CICO_vgidFormsL = CICO_vgidForms.split(",");
    if(CICO_vgidFormsL.length > 0){
        CICO_vgidFormsL.forEach(function(item){
            if(item != ""){
                cico_vgid.push({
                    'name':item,
                    'url':"/u/files/"+item,
                    'input':CICO_vgidID,
                    'video':false
                });
            }
        });
    }
    new FileUpload("CICO_vgid", 3, ["Doc", "docx", "pdf", "png", "jpg", "jpeg"],
        "", "Choose file/s to upload", cico_vgid, '', {
            'previewImages': true,
            'multiple': true,
            'uploadCallback': function () {
                return addDocErrorMessage("CICO_vgid", "")
            }
        });
    const cico_cp = [];
    var CICO_cpFormsL = CICO_cpForms.split(",");
    if(CICO_cpFormsL.length > 0){
        CICO_cpFormsL.forEach(function(item){
            if(item != ""){
                cico_cp.push({
                    'name':item,
                    'url':"/u/files/"+item,
                    'input':CICO_cpID,
                    'video':false
                });
            }
        });
    }
    new FileUpload("CICO_cp", 3, ["Doc", "docx", "pdf", "png", "jpg", "jpeg"],
        "", "Choose file/s to upload", cico_cp, '', {
            'previewImages': true,
            'multiple': true,
            'uploadCallback': function () {
                return addDocErrorMessage("CICO_cp", "")
            }
        });
    const cico_moa = [];
    var CICO_moaFormsL = CICO_moaForms.split(",");
    if(CICO_moaFormsL.length > 0){
        CICO_moaFormsL.forEach(function(item){
            if(item != ""){
                cico_moa.push({
                    'name':item,
                    'url':"/u/files/"+item,
                    'input':CICO_moaID,
                    'video':false
                });
            }
        });
    }
    new FileUpload("CICO_moa", 3, ["Doc", "docx", "pdf", "png", "jpg", "jpeg"],
        "", "Choose file/s to upload", cico_moa, '', {
            'previewImages': true,
            'multiple': true,
            'uploadCallback': function () {
                return addDocErrorMessage("CICO_moa", "")
            }
        });
    const cico_amla = [];
    var CICO_amlaFormsL = CICO_amlaForms.split(",");
    if(CICO_amlaFormsL.length > 0){
        CICO_amlaFormsL.forEach(function(item){
            if(item != ""){
                cico_amla.push({
                    'name':item,
                    'url':"/u/files/"+item,
                    'input':CICO_amlaID,
                    'video':false
                });
            }
        });
    }
    new FileUpload("CICO_amla", 3, ["Doc", "docx", "pdf", "png", "jpg", "jpeg"],
        "", "Choose file/s to upload", cico_amla, '', {
            'previewImages': true,
            'multiple': true,
            'uploadCallback': function () {
                return addDocErrorMessage("CICO_amla", "")
            }
        });
    const cico_mtpp = [];
    var CICO_mtppFormsL = CICO_mtppForms.split(",");
    if(CICO_mtppFormsL.length > 0){
        CICO_mtppFormsL.forEach(function(item){
            if(item != ""){
                cico_mtpp.push({
                    'name':item,
                    'url':"/u/files/"+item,
                    'input':CICO_mtppID,
                    'video':false
                });
            }
        });
    }
    new FileUpload("CICO_mtpp", 3, ["Doc", "docx", "pdf", "png", "jpg", "jpeg"],
        "", "Choose file/s to upload", cico_mtpp, '', {
            'previewImages': true,
            'multiple': true,
            'uploadCallback': function () {
                return addDocErrorMessage("CICO_mtpp", "")
            }
        });
    const cico_is = [];
    var CICO_isFormsL = CICO_isForms.split(",");
    if(CICO_isFormsL.length > 0){
        CICO_isFormsL.forEach(function(item){
            if(item != ""){
                cico_is.push({
                    'name':item,
                    'url':"/u/files/"+item,
                    'input':CICO_isID,
                    'video':false
                });
            }
        });
    }
    new FileUpload("CICO_is", 3, ["Doc", "docx", "pdf", "png", "jpg", "jpeg"],
        "", "Choose file/s to upload", cico_is, '', {
            'previewImages': true,
            'multiple': true,
            'uploadCallback': function () {
                return addDocErrorMessage("CICO_is", "")
            }
        });
    const cico_edd = [];
    var CICO_eddFormsL = CICO_eddForms.split(",");
    if(CICO_eddFormsL.length > 0){
        CICO_eddFormsL.forEach(function(item){
            if(item != ""){
                cico_edd.push({
                    'name':item,
                    'url':"/u/files/"+item,
                    'input':CICO_eddID,
                    'video':false
                });
            }
        });
    }
    new FileUpload("CICO_edd", 3, ["Doc", "docx", "pdf", "png", "jpg", "jpeg"],
        "", "Choose file/s to upload", cico_edd, '', {
            'previewImages': true,
            'multiple': true
        });
        
    function loadAjax(url, method, nameV) {
        var xhttp = new XMLHttpRequest();
        var data = new FormData();
        data.append("name", nameV);
        data.append("gorilla.csrf.Token", CSRFFieldValue);
        xhttp.open(method, url, true);
        xhttp.send(data);
    }

    function removedUploadedFile() {
        const removefile = document.getElementsByClassName("remove_file");
        for (var i = 0; i < removefile.length; i++) {
            removefile[i].addEventListener("click", function (e) {
                e.preventDefault();
                let file = this.getAttribute("data-file")
                let fileid = this.getAttribute("data-fileid")
                console.log("file", file)
                console.log("fileid", fileid)
                if (typeof file !== 'undefined') {
                    if (file != null) {
                        loadAjax("/u/files/" + fileid, "DELETE", file)
                    }
                }
                this.closest(".remove_file_wrap").remove();
            });
        }
    }

    document.addEventListener('DOMContentLoaded', function (event) {
        removedUploadedFile()
    });

    document.body.addEventListener('DOMSubtreeModified', function (event) {
        removedUploadedFile()
    });

    function submitForm(param) {
        isFormSubmit = false;
        if (param != "SaveDraft") {
            isFormSubmit = true;
        }
    }

    function validateFormFields(reqDocField, formField) {
        let IsValid = true;
        const errMsg = "This is a required document, please upload a file";

        if (!isFileSelected(reqDocField)) {
            IsValid = false;
            addDocErrorMessage(formField, errMsg);
            reqDocField.focus();
        }
        return IsValid;
    }

    function validateForm() {
        if (!isFormSubmit) {
            return true;
        }

        let checkedIsValid = [];

        let CICONdaDoc = document.dsaCiCoDocsForm.CICO_nda;
            checkedIsValid.push(validateFormFields(CICONdaDoc, "CICO_nda"));

        let CICOSisDoc = document.dsaCiCoDocsForm.CICO_sis;
            checkedIsValid.push(validateFormFields(CICOSisDoc, "CICO_sis"));
            
        let CICOPsfDoc = document.dsaCiCoDocsForm.CICO_psf;
            checkedIsValid.push(validateFormFields(CICOPsfDoc, "CICO_psf"));
            
        let CICOPsppDoc = document.dsaCiCoDocsForm.CICO_pspp;
            checkedIsValid.push(validateFormFields(CICOPsppDoc, "CICO_pspp"));
        
        let CICOSecDoc = document.dsaCiCoDocsForm.CICO_sec;
            checkedIsValid.push(validateFormFields(CICOSecDoc, "CICO_sec"));
        
        let CICOGisDoc = document.dsaCiCoDocsForm.CICO_gis;
            checkedIsValid.push(validateFormFields(CICOGisDoc, "CICO_gis"));
        
        let CICO_afsDoc = document.dsaCiCoDocsForm.CICO_afs;
            checkedIsValid.push(validateFormFields(CICO_afsDoc, "CICO_afs"));
        
        let CICO_birDoc = document.dsaCiCoDocsForm.CICO_bir;
            checkedIsValid.push(validateFormFields(CICO_birDoc, "CICO_bir"));
        
        let CICO_sccasDoc = document.dsaCiCoDocsForm.CICO_sccas;
            checkedIsValid.push(validateFormFields(CICO_sccasDoc, "CICO_sccas"));
        
        let CICO_vgidDoc = document.dsaCiCoDocsForm.CICO_vgid;
            checkedIsValid.push(validateFormFields(CICO_vgidDoc, "CICO_vgid"));
        
        let CICO_cpDoc = document.dsaCiCoDocsForm.CICO_cp;
            checkedIsValid.push(validateFormFields(CICO_cpDoc, "CICO_cp"));
        
        let CICO_moaDoc = document.dsaCiCoDocsForm.CICO_moa;
            checkedIsValid.push(validateFormFields(CICO_moaDoc, "CICO_moa"));
        
        let CICO_amlaDoc = document.dsaCiCoDocsForm.CICO_amla;
            checkedIsValid.push(validateFormFields(CICO_amlaDoc, "CICO_amla"));
        
        let CICO_mtppDoc = document.dsaCiCoDocsForm.CICO_mtpp;
            checkedIsValid.push(validateFormFields(CICO_mtppDoc, "CICO_mtpp"));
        
        let CICO_isDoc = document.dsaCiCoDocsForm.CICO_is;
            checkedIsValid.push(validateFormFields(CICO_isDoc, "CICO_is"));
        
        let checker = arr => arr.every(v => v === true);
        return checker(checkedIsValid) ? true : false;
    }
</script>
<script>
    const params = new URLSearchParams(window.location.search);
    function toggleTopButton(id) {
        let getDropdownItem = document.getElementById(id)
        let isHiddenClass = getDropdownItem.classList.contains('hidden');
        if (!isHiddenClass) {
            getDropdownItem.classList.add("hidden");
        } else {
            getDropdownItem.classList.remove("hidden");
        }
    }
    document.addEventListener("DOMContentLoaded", function () {
        let menus = document.querySelectorAll("a");
        for (let i = 0; i < menus.length; i++) {
            menus[i].addEventListener("click", function(e){
                e.preventDefault();
                let lnk = menus[i].href;
                menus[i].href = "javascript:;"
                window.location.href = lnk;
            });
        }
    });
</script>
</html>
