<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ assetHash "/css/app.min.css" }}">
    <title>Forgot password</title>
</head>

<body class="font-body">
    <div class="min-h-screen bg-gray-300 py-6 flex flex-col justify-center sm:py-12">
        <div class="py-3 sm:max-w-xl sm:mx-auto">
            <div class="w-full">
                <div class="bg-white flex flex-col shadow-lg w-full z-50 rounded-lg overflow-hidden">
                    <div class="flex justify-end p-4">
                        <svg xmlns=" http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20"
                            fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>
                    <div class="flex flex-col items-center mx-14 mb-12 ">
                        <div class="flex flex-col items-center py-6 space-y-3">
                            <span class="text-3xl text-black font-bold">Forgot your password?</span>
                        </div>
                        <p class="font-lg tracking-wider text-center">We just need your registered
                            email
                            address to send
                            your password
                            reset.</p>
                        <div class=" w-full flex flex-col">
                            <div class="mb-6">
                                <label for="email" class="block text-sm text-white">Email Address</label>
                                <input type="email" name="email" id="email" placeholder="E-mail address"
                                    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none" />
                            </div>
                            <div>
                                <button
                                    class=" w-full flex justify-center py-4 px-4 text-lg font-bold rounded-md text-petnetblue bg-petnetyellow focus:outline-none">RESET
                                    PASSWORD</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
