<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ assetHash "/css/app.min.css" }}">
    <title>Manage Role</title>
</head>

<body class="font-sans">
    <div class="flex w-full">
        <!-- sidebar-left-start -->
        <div class="bg-petnetblue w-32 min-h-screen">
            <div class="min-h-screen">
                <img src="{{ assetHash "/images/DRP-Vertical.svg" }}" class="mx-auto my-5">
                <!-- Sidebar menu start -->
                {{ template "admin-sidenav-menu.html" dict "Type" "manage-users" "Data" .}}
                <!-- Sidebar menu end -->
            </div>
        </div>
        <!-- sidebarleft-end -->

        <div class="min-h-screen w-full flex bg-petnetgray ">
            <div class="w-full">
                <!-- top-header-start -->
                <div class="px-6 lg:px-8 py-10 relative z-10 bg-white">
                    <div class="flex flex-wrap justify-between">
                        <div class="">
                            <ul class="flex justify-end items-center space-x-4 mb-16">
                                <li>
                                    <a href="/dashboard/manage-users" class="text-gray-500 mr-6">Member List</a>
                                </li>
                                <li>
                                    <a href="/dashboard/manage-role" class="text-petnetlightblue mx-6 border-b-4 py-1 border-petnetlightblue">User Roles</a>
                                </li>

                                <li>
                                    <a href="/dashboard/providers-list" class="text-gray-500 mx-6">Providers List</a>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <ul class="flex justify-end items-center space-x-4 mb-16">
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-9 w-9" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                                    </svg>
                                </li>
                                <li>
                                    {{ template "top-head-profile.html" dict "UserInfo" .LoginUserInfo "CompanyName" "" .}}
                                </li>
                                <li>
                                    <div class="relative" id="topDropdownBox">
                                        <a href="javascript:;" onclick="toggleTopButton('openTopDropdown')">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                                viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                    d="M19 9l-7 7-7-7" />
                                            </svg>
                                        </a>
                                        <div class="absolute right-0 top-12 hidden" id="openTopDropdown">
                                            <div
                                                class="transform skew-y-12 skew-x-12 rotate-45 w-6 h-6 absolute ml-auto top-0 right-0 shadow bg-white z-10">
                                            </div>
                                            <div class="shadow-lg  absolute top-3 -right-5 rounded">
                                                <div class="relative z-20 p-3 w-36 bg-white rounded">
                                                    <a class="flex text-sm items-center" href="/profile">
                                                        <svg class="mr-2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M16 8C16 10.21 14.21 12 12 12C9.79 12 8 10.21 8 8C8 5.79 9.79 4 12 4C14.21 4 16 5.79 16 8ZM4 18C4 15.34 9.33 14 12 14C14.67 14 20 15.34 20 18V19C20 19.55 19.55 20 19 20H5C4.45 20 4 19.55 4 19V18Z" fill="#333333"/>
                                                        </svg>
                                                        Profile
                                                    </a>
                                                    <a href="/logout" class="flex text-sm">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2"
                                                            fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                                stroke-width="2"
                                                                d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                                                        </svg>
                                                        Logout
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="flex flex-wrap items-center justify-between">
                        <div class="mb-4">
                            <h2 class="text-4xl text-petnetblue font-bold">Manage Roles</h2>
                        </div>
                        <div class="">
                            <button
                                class="border-2 border-petnetblue rounded-md py-3 px-12 text-white bg-petnetblue font-bold mr-4 show-modal">
                                Create New Role
                            </button>
                        </div>
                    </div>
                </div>
                <!-- top-header-end -->
                <!-- table-start -->
                {{if ne .ErrMsg ""}}
                            <div class="flex justify-center bg-white">
                                <div id="alert-show-error" role="alert" class="w-2/3 flex justify-center">
                                    <!-- petnetpink text-white -->
                                    <div
                                        class="p-3 bg-petnetpink w-3/6 text-black mb-4 bg-opacity-20 rounded-lg border border-petnetpink flex items-center">
                                        <span class="p-2 rounded-lg bg-petnetpink flex justify-center items-center mr-3">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white rounded-full"
                                                viewBox="0 0 20 20" fill="currentColor">
                                                <path fill-rule="evenodd"
                                                    d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z"
                                                    clip-rule="evenodd" />
                                            </svg>
                                        </span>
                                        <span>
                                            {{.ErrMsg}}
                                        </span>
                                        <a href="javascript:;" class="mr-2 text-black-400 inline-block w-3 ml-auto"
                                            id="alert-remove-error" onclick="hidealertMessage()">
                                            <svg width="15" height="15" viewBox="0 0 12 12" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M11.25 0.757931C11.0943 0.601887 10.8829 0.514193 10.6625 0.514193C10.442 0.514193 10.2307 0.601887 10.075 0.757931L5.99998 4.8246L1.92498 0.749597C1.76928 0.593553 1.55791 0.505859 1.33748 0.505859C1.11704 0.505859 0.905668 0.593553 0.749976 0.749597C0.424976 1.0746 0.424976 1.5996 0.749976 1.9246L4.82498 5.9996L0.749976 10.0746C0.424976 10.3996 0.424976 10.9246 0.749976 11.2496C1.07498 11.5746 1.59998 11.5746 1.92498 11.2496L5.99998 7.1746L10.075 11.2496C10.4 11.5746 10.925 11.5746 11.25 11.2496C11.575 10.9246 11.575 10.3996 11.25 10.0746L7.17497 5.9996L11.25 1.9246C11.5666 1.60793 11.5666 1.0746 11.25 0.757931Z"
                                                    fill="#000" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {{end}}
                <div>
                    <div class="w-full overflow-x-auto">
                    <table class="min-w-full">
                        <thead class="bg-white shadow-md relative z-10 w-full ">
                            <tr>
                                <th class="text-left  py-3 px-8">
                                    <div class="relative dropdown appearance-none">
                                        <button
                                            class="dropdown-toggle flex items-center w-full justify-between focus:outline-none"
                                            onclick="dropdownToggle(event)">
                                            <p class="pr-4 font-semibold text-lg">Role Name</p>
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                                viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                    d="M19 9l-7 7-7-7" />
                                            </svg>
                                        </button>
                                        <div class="absolute right-0 top-12 hidden dropdown-item">
                                            <div
                                                class="transform skew-y-12 skew-x-12 rotate-45 w-6 h-6 absolute ml-auto top-0 right-0 shadow bg-white z-10">
                                            </div>
                                            <div class="shadow  absolute top-3 -right-5 rounded">
                                                <div class="relative z-20 pt-3 w-40 bg-white rounded flex flex-col">
                                                    <div class="text-sm pl-2 pb-2 flex-col flex">
                                                        <ul>
                                                            <li class="text-gray-500 w-full mb-2 text-center text-sm">
                                                                ORDER By
                                                            </li>
                                                            <li class="flex items-center mb-2"
                                                                onclick="orderBy('role','asc')">
                                                                <input id="radio-asc" type="radio" value="asc"
                                                                    class="hidden list-custom-input" />
                                                                <label for="radio-asc"
                                                                    class="flex w-full items-center cursor-pointer ml-2 text-md">
                                                                    <span
                                                                        class="w-6 h-4 flex items-center inline-block mr-2 text-lg flex-no-shrink">
                                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                                            class="h-4 w-4" fill="none"
                                                                            viewBox="0 0 24 24" stroke="currentColor">
                                                                            <path stroke-linecap="round"
                                                                                stroke-linejoin="round" stroke-width="2"
                                                                                d="M5 13l4 4L19 7" />
                                                                        </svg>
                                                                    </span>
                                                                    A to Z
                                                                </label>
                                                            </li>
                                                            <li class="flex items-center"
                                                                onclick="orderBy('role','desc')">
                                                                <input id="radio-desc" type="radio" value="desc"
                                                                    class="hidden list-custom-input" />
                                                                <label for="radio-desc"
                                                                    class="flex w-full items-center cursor-pointer ml-2 text-md">
                                                                    <span
                                                                        class="w-6 h-4 flex items-center inline-block mr-2 text-lg flex-no-shrink">
                                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                                            class="h-4 w-4" fill="none"
                                                                            viewBox="0 0 24 24" stroke="currentColor">
                                                                            <path stroke-linecap="round"
                                                                                stroke-linejoin="round" stroke-width="2"
                                                                                d="M5 13l4 4L19 7" />
                                                                        </svg>
                                                                    </span>
                                                                    Z to A
                                                                </label>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                                <th class="text-left py-3  px-8 w-2/6">
                                    <p class="font-semibold text-lg">Role Description</p>
                                </th>
                                <th class="text-left  py-3 px-8">
                                    <p class="font-semibold text-lg">Last Updated By</p>
                                </th>
                                <th class="text-left  py-3 px-8">
                                    <p class="font-semibold text-lg">Date Updated</p>
                                </th>
                                <th class="text-center py-3 text-lg px-8 ">
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200 ">
                            {{range .Roles}}
                            <tr class="align-top">
                                <td class="text-left px-8 py-4 text-lg text-petnetblue font-extrabold ">
                                    <p>{{.Name}}</p>
                                </td>
                                <td class="text-left px-8 w-2/6 py-4 leading-6 text-lg ">
                                    <p>{{.Description}}</p>
                                </td>
                                <td class="text-left px-8 py-4 text-lg ">
                                    <p>{{.UpdatedBy}}</p>
                                </td>
                                <td class="text-left px-8 py-4 text-lg ">
                                    <p>{{formatDate .Updated "January 02, 2006"}}</p>
                                </td>
                                <td class="text-center px-8 text-lg font-medium py-3 ">
                                    <a href="/dashboard/manage-role/edit/{{.ID}}" class="text-petnetlightblue pr-6 editrole">Edit</a>
                                    <a onclick="deleteRole(event, this);" href="/dashboard/delete-role/{{.ID}}" class="text-petnetpink">Delete</a>
                                </td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                    </div>
                    <div class="text-gray-500 text-center bg-white py-8 flex justify-between px-20">
                        <div></div>
                        <p class="flex items-center pl-32"> Showing {{len .Roles}} out of
                            {{.PaginationData.Total}} Roles</p>
                        <div>
                            <div class="flex flex-wrap justify-between items-center">
                                <div>
                                    {{if ne .PaginationData.Total 0}}
                                    <a {{if .PaginationData.Prev}}href="{{.PaginationData.Prev.URL}}" {{end}}>
                                        <button {{if eq .PaginationData.CurrentPage 1}} disabled {{end}} {{if .PaginationData.Prev}}
                                            class="relative inline-flex items-center px-4 py-2 rounded border border-gray-400 bg-white text-sm font-medium text-petnetblue hover:bg-gray-50"
                                            {{else}}
                                            class="relative inline-flex items-center px-4 py-2 rounded border border-gray-400 text-sm font-medium text-gray-500 bg-gray-50"
                                            {{end}}>
                                            Previous
                                        </button>
                                    </a>
                                    {{end}}
                                    <div class="inline-block px-6">
                                        {{range .PaginationData.Pages}}
                                        {{if .Order}}
                                        <a href="{{.URL}}"
                                            class="{{if .Current}}font-bold bg-petnetblue text-white {{else}}text-petnetblue{{end}} z-10 b relative inline-flex items-center px-4 py-2 text-sm font-medium hover:bg-petnetblue hover:text-white">{{.Order}}</a>
                                        {{else}}
                                        <a href="" class="inline-block mr-4 hover:text-blue-dark-5">...</a>
                                        {{end}}
                                        {{end}}
                                    </div>
                                    {{if ne .PaginationData.Total 0}}
                                    <a {{if .PaginationData.Next}}href="{{.PaginationData.Next.URL}}" {{end}}>
                                        <button {{if eq .PaginationData.CurrentPage (countPaginate .PaginationData.Total .PaginationData.PerPage)}}
                                        disabled {{end}} {{if .PaginationData.Next}}
                                            class="relative inline-flex items-center px-4 py-2 rounded border border-gray-400  bg-white text-sm font-medium text-petnetblue hover:bg-gray-50"
                                            {{else}}
                                            class="relative inline-flex items-center px-4 py-2 rounded border border-gray-400  bg-white text-sm font-medium text-gray-500 bg-gray-50"
                                            {{end}}>Next
                                        </button>
                                    </a>
                                    {{end}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Create new role modal -->
    <div
        class="modal h-screen w-full fixed left-0 top-0 flex justify-center items-center bg-black bg-opacity-50 z-30 hidden">
        <div class="py-3 sm:max-w-xl sm:mx-auto">
            <div class="bg-white shadow-lg w-full z-50 rounded-md overflow-hidden">
                <div class="mx-20 my-12">
                    <div>
                        <span class="text-2xl text-black font-semibold">Create a New Role</span>
                    </div>
                    <p class="text-petnettextgray mt-2 mb-4">Please fill up the following information.</p>
                    <form action="/dashboard/manage-role-create" method="POST">
                        {{.CSRFField}}
                        <div class="w-full">
                            <div class="mb-6">
                                <label for="name" class="block text-black mb-2">Name of Role</label>
                                <input type="text" name="Name"
                                    class="w-full px-3 py-2 border border-gray-300 focus:border-petnetblue focus:border-transparent bg-petnetgray rounded-md focus:outline-none"
                                    placeholder="Example: Admin" required />
                                {{with .Errors.Name}}
                                <p class="text-red-700 mt-2">{{.}}</p>
                                {{end}}
                            </div>

                            <div class="mb-6">
                                <label for="name" class="block text-black mb-2">Role Description</label>
                                <textarea name="Description"
                                    class="w-full resize-none px-3 py-2 border border-gray-300 bg-petnetgray rounded-md focus:outline-none focus:border-petnetblue focus:border-transparent"
                                    rows="3" placeholder="Enter what the role description is" required></textarea>
                                {{with .Errors.Description}}
                                <p class="text-red-700 mt-2">{{.}}</p>
                                {{end}}
                            </div>

                            <div class="flex justify-between">
                                <a href="/dashboard/manage-role"
                                    class="cursor-pointer border-2 border-petnetblue rounded-md py-2 px-16 text-petnetblue font-bold mr-4">
                                    Cancel
                                </a>
                                <button type="submit"
                                    class="border-2 border-petnetyellow rounded-md py-2 px-16 text-petnetblue font-bold bg-petnetyellow">
                                    Create Role
                                </button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{ template "otp-modal.html" dict "Email" .LoginUserInfo.Email "CSRFField" .CSRFField }}
    <script>
        const modal = document.querySelector('.modal');
        const showModal = document.querySelector('.show-modal');
    </script>
    {{if .Errors.Name }}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            modal.classList.remove('hidden')
        });
    </script>
    {{end}}

    {{if .Errors.Description }}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            modal.classList.remove('hidden')
        });
    </script>
    {{end}}
    <script>
        if (typeof params === 'undefined') {
            const params = new URLSearchParams(window.location.search)
        }
        const closeModal = document.querySelectorAll('.close-modal');
        showModal.addEventListener('click', function () {
            modal.classList.remove('hidden')
        });
        closeModal.forEach(close => {
            close.addEventListener('click', function () {
                modal.classList.add('hidden')
            });
        });
        function toggleTopButton(id) {
            let getDropdownItem = document.getElementById(id)
            let isHiddenClass = getDropdownItem.classList.contains('hidden');
            if (!isHiddenClass) {
                getDropdownItem.classList.add("hidden");
            } else {
                getDropdownItem.classList.remove("hidden");
            }
        }
        function dropdownToggle(event) {
            let targetItem = event.target;
            while (!targetItem.classList.contains('dropdown-toggle')) {
                targetItem = targetItem.parentElement;
            }
            targetItem = targetItem.nextElementSibling;

            if (targetItem.classList.contains('hidden')) {
                targetItem.classList.remove("hidden");
            } else {
                targetItem.classList.add("hidden");
            }
            let x = document.getElementsByClassName("dropdown-item");
            for (let i = 0; i < x.length; i++) {
                if (x[i] != targetItem) {
                    x[i].classList.add("hidden")
                }
            }
        }
        function orderBy(cloumn, type) {
            params.set("sort", type);
            params.set("sort_column", cloumn);
            let getUncheckItem = 'asc';
            if (type === "asc") {
                getUncheckItem = 'desc'
            }
            document.getElementById('radio-' + getUncheckItem).checked = false
            window.location.search = params.toString();
        }
        window.onload = function () {
            if (params.has("sort_column")) {
                let column = params.get("sort_column");
                if (column === "role") {
                    document.getElementById('radio-' + params.get("sort")).checked = true
                } else {
                    document.getElementById('radio-sort-desc').checked = true
                }
            } else {
                document.getElementById('radio-asc').checked = true
            }
        }
        function deleteRole(e, param){
            e.preventDefault();
            var result = confirm("Are you sure you want to delete?");
            if (result) {
                window.location.href = param.href;
            }
        }
        document.addEventListener("DOMContentLoaded", function () {
        let menus = document.querySelectorAll(".editrole");
        for (let i = 0; i < menus.length; i++) {
            menus[i].addEventListener("click", function(e){
                e.preventDefault();
                let lnk = menus[i].href;
                menus[i].href = "javascript:;"
                window.location.href = lnk;
            });
        }
    });
    function hidealertMessage() {
        var ase = document.getElementById("alert-show-error");
        ase.classList.add('hidden');
        if(params.has("errorMsg")){
                    params.delete("errorMsg")
                }
    }
    </script>
</body>
</html>
