<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ assetHash "/css/app.min.css" }}">
    <title>Home</title>
</head>

<body class="font-sans">
    <div>
        <section class="min-h-screen">
            <div class="min-h-screen bg-petnetblue relative overflow-hidden z-50">
                <div class="sm:px-24 px-8 pb-8 z-50 relative">
                    <div class="md:w-1/2">
                        <div class="pt-28 pb-10 hidden sm:block">
                            <img class="" src="{{ assetHash "/images/DRP-white-horizontal.svg" }}" alt="" srcset="">
                        </div>
                        <div class="block sm:hidden py-8">
                            <img class="" src="{{ assetHash "/images/DRP-white-horizontal.svg" }}" alt="" srcset="">
                        </div>
                        <h1 class="sm:text-7xl text-5xl text-petnetyellow font-extrabold ">
                            Let's build the future of remittance together
                        </h1>
                        <p class="text-white py-8 text-xl">
                            We ensure 100% reliability of your domestic and international money transfers through our trusted remittance partners.
                        </p>
                        <!-- button -->
                        <div class="pb-20 hidden sm:block">
                            <a href="/login" class="bg-petnetyellow text-petnetblue px-16 py-3 rounded-md font-bold text-base">
                                Login
                            </a>
                        </div>
                        <div class="pb-10 block sm:hidden">
                            <a href="/login" class="bg-petnetyellow text-petnetblue px-8 py-4 rounded-md font-bold text-base">
                                Get Started
                            </a>
                        </div>
                    </div>
                    <!-- white box -->
                    <div class=" bg-white rounded-lg sm:px-12 px-7 py-8 pb-14 sm:pb-24 items-center">
                        <div class="mb-14 w-full text-center hidden sm:block">
                            <p class="text-petnetblue text-4xl mb-4 font-black px-3">
                                Why PERA HUB?
                            </p>
                            <p class="text-xl">Here are some of the key benefits of PERA HUB DRP, our digital remittance platform.</p>
                        </div>
                        <div class="block sm:hidden my-4">
                            <p class="text-petnetblue font-extrabold text-4xl">
                                Why remit with us?
                            </p>
                        </div>

                        <div class="sm:flex w-full px-12 hidden">
                            <p class="text-lg w-1/3 px-12">
                                <span class="block mb-3">
                                    <span class="inline-block text-petnetyellow font-bold text-4xl mr-2">01</span>
                                    <span class="inline-block font-bold text-3xl">Open Platform</span>
                                </span>
                                Integration between entities become significantly easier because APIs can be shared across the group therefore time to market is a lot faster.
                            </p>
                            <p class="text-lg w-1/3 px-12">
                                <span class="block mb-3">
                                    <span class="inline-block text-petnetyellow font-bold text-4xl mr-2">02</span>
                                    <span class="inline-block font-bold text-3xl">Cost-Efficient</span>
                                </span>
                                Provides Remittance Companies/Partners with scalable solution & infrastructure with single access to multiple ecosystems.
                            </p>
                            <p class="text-lg w-1/3 px-12">
                                <span class="block mb-3">
                                    <span class="inline-block text-petnetyellow font-bold text-4xl mr-2">03</span>
                                    <span class="inline-block font-bold text-3xl">Network Effect</span>
                                </span>
                                Faster & Simpler for your services and can be accessed by many markets.
                            </p>
                        </div>
                        <div class="block sm:hidden">
                            <div>
                                <img class="block py-6" src="{{ assetHash "/images/root-1.svg" }}" alt="" srcset="">
                                <p class="font-semibold text-xl">Safe and secure handling of your money</p>
                            </div>
                            <div>
                                <img class="block py-6" src="{{ assetHash "/images/root-2.svg" }}" alt="" srcset="">
                                <p class="font-semibold text-xl">Low service fee</p>
                            </div>
                            <div>
                                <img class="block py-6" src="{{ assetHash "/images/root-3.svg" }}" alt="" srcset="">
                                <p class="font-semibold text-xl">Friendly front line associates</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="absolute -right-24 -top-32 overflow-hidden z-0 rounded-full">
                    <img src="{{ assetHash "/images/a.png" }}" alt="" srcset="" class="pr-20 pt-32 object-cover hidden sm:block"
                        style="width: 730px; height: 730px;">
                    <div class="bg-petnetblue bg-opacity-60 w-full h-full absolute right-0 top-0 "></div>
                </div>
            </div>
        </section>
        <!-- bottom section -->
        <div class="bg-black p-8">
            <img src="{{ assetHash "/images/DRP-white-horizontal.svg" }}" alt="" srcset="" class="mx-auto h-20">

        </div>
    </div>

</body>

</html>
