<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ assetHash "/css/app.min.css" }}">
    <title>Primary Scrren</title>
</head>

<body class="font-proxima-nova-reg">
    <div>
        <section class="min-h-screen">
            <div class="flex min-h-screen flex-wrap items-center justify-center bg-petnetblue">
                <div class="w-1/2">
                    <div class="mb-20 flex justify-center">
                        <img src="{{ assetHash "/images/ConexLogo(PERA-HUB-Logo_white.png" }}" alt="" srcset="" width="229" height="41">
                    </div>
                    <div class="bg-white rounded-sm p-14 text-center">
                       <img src="{{ assetHash "/images/error-1.png" }}" alt="" class="mx-auto" width="80" height="80">
                        <p class="my-6">YOUR APPLICATION STATUS</p>
                        <h1 class="text-petnetpink font-bold text-4xl mb-6">Sorry, something went wrong.</h1>
                        <p class="w-2/3 mx-auto mb-5">We have sent you an email regarding this issue and if you have any concerns, please contact 
                        <a href="javascript:;" class="text-petnetlightblue">perahub@domain.com.</a></p>
                        <div class="flex justify-center">
                            <button class="w-36 py-2 border border-petnetblue text-center rounded mr-4 mx-3">View</button>
                            <button class="w-60 py-2 bg-petnetblue text-center rounded text-white mx-3">Download</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>
