<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ assetHash "/css/app.min.css" }}">
    <title>Primary Screen</title>
</head>

<body class="">
    <div>
        <section class="min-h-screen">
            <div class="flex h-screen flex-wrap items-center justify-center bg-petnetblue ">
                <div>
                    <div class="mb-20 flex justify-center">
                        <img src="{{ assetHash "/images/ConexLogo(PERA-HUB-Logo_white.png" }}" alt="" srcset="" width="229" height="41">
                    </div>
                    <div class="bg-white rounded-sm pl-52 pr-52 py-10 text-center">
                     <div class="mb-10 flex justify-center">
                        <img src="{{ assetHash "/images/pera-hub-clock.svg" }}" alt="" srcset="" width="80" height="80">
                    </div>
                        <h1 class="text-2xl mb-4 text-center">Your Application Detail</h1>
                             <p class="text-6xl mb-4 text-petnetorange font-semibold py-4 mb-2">Pending</p>
            <p class="pb-8 text-lg">If there are any concerns, please contact or email <br><span class="text-petnetblue">petnet@domain.com </span> for more information.</p>
             <button class="bg-petnetblue text-white  py-3 px-5 rounded-md font-bold text-lg">
                            Back to Home
                        </button>
                    </div>
                   
                </div>
            </div>
        </section>
    </div>
</body>

</html>
