<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ assetHash "/css/app.min.css" }}">
    <title>Document</title>
</head>

<body class="font-proxima-nova-reg">
    <div class="flex relative overflow-hidden">
        <div class="sm:w-1/2 min-h-screen w-full approve-curb">
            <div class="min-h-screen flex items-center py-12 px-4 lg:px-28">
                <div class="approve-curb-content">
                    <div>
                        <img src="{{ assetHash "/images/pera-hub-horizontal-black.png" }}" alt="" srcset="" width="229">
                    </div>
                    <div class="text-5xl font-bold py-14">
                        <div class="text-blue-900 mb-4">Welcome aboard</div>
                        <div class="text-blue-900">PERA HUB</div>
                    </div>
                    <div class="text-3xl mb-14 w-3/4">
                        <div>Start using PERA HUB for your business now!</div>
                    </div>
                    <button class="w-60 py-2 bg-petnetblue text-center rounded text-white">Continue</button>
                </div>
            </div>
        </div>
        <div class="absolute right-0 top-0 w-full flex justify-end">
            <img src="{{ assetHash "/images/JBwcenOuRCg.png" }}" class="w-3/4">
            <div class="approve-curb-img">
            </div>
        </div>
    </div>
</body>

</html>
