<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ assetHash "/css/app.min.css" }}">
    <title>Success</title>
</head>

<body>

    <section class="min-h-screen">
        <div class="flex min-h-screen flex-wrap items-center bg-white">
            <div class="flex overflow-hidden ">
                <img src="{{ assetHash "/images/mobile-manager.png" }}" class="h-screen sm:block hidden">

                <div class="bg-white flex flex-col justify-center items-start sm:pl-28 pl-8">
                    <div class="my-2 hidden sm:flex justify-center">
                        <img src="{{ assetHash "/images/DRP-colored-horizontal.svg" }}" alt="" srcset="">
                    </div>
                    <div class="flex justify-center sm:hidden">
                        <img src="{{ assetHash "/images/DRP-colored-horizontal.svg" }}" alt="" srcset="">
                    </div>
                    <div class="text-4xl font-bold pt-14 pb-10">
                        <div class="text-blue-900 mb-2 font-avenir">Thank you for signing up</div>
                        <div class="text-blue-900 font-avenir">to PERA HUB.</div>
                    </div>
                    <div class="font-medium text-xl mb-2 font-avenir">
                        Your request for approval is still being processed.
                    </div>
                    <div class="text-xl mb-8 w-full">
                        <div>If there are any concerns, please contact<br>
                            <a href="" class="text-petnetlightblue">contactus@drp.perahub.com.ph</a> for more information.
                        </div>
                    </div>
                    <a href="/login" class="w-60 py-2 bg-petnetblue text-center rounded text-white">Continue to
                        Login</a>
                </div>
            </div>
        </div>
    </section>
    <!-- <div class="flex">

        <div class="">
            <img src="{{ assetHash "/images/mobile-manager.png" }}" class="min-h-screen">
        </div>

        <div class="bg-white flex flex-col justify-center items-start pl-28">
            <div>
                <img src="{{ assetHash "/images/conex-logo-blue.png" }}" alt="" srcset="" width="229">
            </div>
            <div class="text-4xl font-bold pt-14 pb-10">
                <div class="text-blue-900 mb-2 font-avenir">Thank you for signing up</div>
                <div class="text-blue-900 font-avenir">to PERA HUB.</div>
            </div>
            <div class="font-bold text-xl mb-2 font-avenir">
                Your request for approval is still being processed.
            </div>
            <div class="text-xl mb-8 w-full">
                <div>If there are any concerns, please contact<br>
                    <a href="" class="text-petnetlightblue">perahub@domain.com</a> for more information.
                </div>
            </div>
            <a href="/login" class="w-60 py-2 bg-petnetblue text-center rounded text-white">Continue to Login</a>
        </div>
    </div> -->
</body>

</html>
