<ul class="flex justify-end items-center space-x-4 mb-12">
    <li>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-9 w-9" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
        </svg>
    </li>
    <li>

        {{ template "top-head-profile.html" dict "UserInfo" .UserInfo "CompanyName" "" .}}
    </li>
    <li>
        <div class="relative" id="topDropdownBox">
            <a href="javascript:;" onclick="toggleTopButton('openTopDropdown')">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                    viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M19 9l-7 7-7-7" />
                </svg>
            </a>
            <div class="absolute right-0 top-12 hidden" id="openTopDropdown">
                <div
                    class="transform skew-y-12 skew-x-12 rotate-45 w-6 h-6 absolute ml-auto top-0 right-0 shadow bg-white z-10">
                </div>
                <div class="shadow-lg  absolute top-3 -right-5 rounded">
                    <div class="relative z-20 p-3 w-36 bg-white rounded space-y-2">
                        <a class="flex text-sm items-center" href="/profile">
                            <svg class="mr-2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M16 8C16 10.21 14.21 12 12 12C9.79 12 8 10.21 8 8C8 5.79 9.79 4 12 4C14.21 4 16 5.79 16 8ZM4 18C4 15.34 9.33 14 12 14C14.67 14 20 15.34 20 18V19C20 19.55 19.55 20 19 20H5C4.45 20 4 19.55 4 19V18Z" fill="#333333"/>
                            </svg>
                            Profile
                        </a>
                        <a href="/logout" class="flex text-sm pl-1">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                            </svg>
                            Logout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
<script>
    function toggleTopButton(id) {
        let getDropdownItem = document.getElementById(id)
        let isHiddenClass = getDropdownItem.classList.contains('hidden');
        if (!isHiddenClass) {
            getDropdownItem.classList.add("hidden");
        } else {
            getDropdownItem.classList.remove("hidden");
        }
    }
</script>