[runtime]
environment="development"

[server]
url=""

[database]
host="localhost"
port="5432"
identityUser=""
identityPassword=""
identityDBname=""
profileUser=""
profilePassword=""
profileDBname=""
sslMode="disable"
connectionTimeout="30000"
statementTimeout="30000"
idleInTransactionSessionTimeout="30000"

[usermgm]
internal="127.0.0.1:3030"
external="127.0.0.1:3001"

[profile]
internal="127.0.0.1:3030"

[admin]
email=""
password=""

[dsa]
Email=""
Password=""
apiKeyStg=""
apiSecretStg=""

[cms]
clientID=""
clientSecret=""

[auth]
clientID="rbac-dev"
clientSecret="secret"
url="https://auth.staging.petnet.dev"

[common]
disableLoginMFA="false"
