[runtime]
environment="development"

[server]
host=""
port="3000"
adminPort="3030"
certs="./env/certs"
certProvider="none"

[database]
host="localhost"
port="5432"
user="postgres"
password=""
dbname="postgres"
migrationDir="migrations/sql"
sslMode="disable"
connectionTimeout="30000"
statementTimeout="30000"
idleInTransactionSessionTimeout="30000"

[usermgm]
api="127.0.0.1:3001"
admin="127.0.0.1:3030"
mock="true"

[auth]
clientID="rbac-dev"
clientSecret="secret"
url="https://auth.staging.petnet.dev"

[hydra]
audience=""
adminURL=""

[cms]
url="https://changeme.com"

[smtp]
host="smtp.gmail.com"
port="587"
username="address@change.me"
password=""
fromAddr=""
fromName="PETNET"

[local]
bootstrapUsers=""
adminEmail=""
adminPassword=""
dsaEmail=""
dsaPassword=""
disableLoginMFA="false"
disablePermissionBootstrap="false"

[trace]
collectorHost=""
