[runtime]
environment="development"
loglevel="info"

[server]
host=""
port="3005"
adminPort="3006"
certs="./env/certs"
certProvider="none"

[database]
host="localhost"
port="5432"
user="postgres"
password=""
dbname="postgres"
migrationDir="migrations/sql"
sslMode="disable"
connectionTimeout="30000"
statementTimeout="30000"
idleInTransactionSessionTimeout="30000"

[usermgm]
api="127.0.0.1:3001"

# Test/debug mainpkg features
[mainpkg]
init="false"
cleanup="false"
leader="false"
