<!DOCTYPE html>
<html>
<head>
  <title>Auth Option</title>
</head>
<body>
  <h1>Auth Option</h1></body>
  <h2>Choose an auth option for the customer<p>
	  <p>Basic login without OAuth2, backend uses DSA API key to communicate with DRP API<br>with no interaction between customer, brankas and perahub<p>
	  <a href="/login-basic">basic login</a><br><br>
	  <!--<p>[WIP] OAuth2 login uses DSA Auth Code key, customer does the OAuth flow<br>-->
	  <!--to brankas, brankas authenticates customer with perahub<p>-->
     <!--<a href="/login-oauth">OAuth login</a>-->
</html>
