<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>RBAC - Confirm Email Success</title>
  <meta name="keywords" content="RBAC" />
  <meta name="description" content="RBAC" />
  <link rel="stylesheet" href="/assets/css/app.min.css" />
</head>

<body>
  <main>
    <h1 class="text-xs text-grey-dark-10">Success, email confirmed</h1>
  </main>
</body>
</html>
