


<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Proxtera - Platform</title>
  <meta name="keywords" content="Proxtera" />
  <meta name="description" content="Proxtera" />
  <link rel="stylesheet" href="/assets/css/app.min.css" />
</head>

<body>
  <header class="border-solid border-b border-grey-light-5">
    <div class="container m-auto py-3 px-4 flex items-center justify-between">
    <a href="/login" class="flex items-center">
      <img src="/assets/images/logo-blue.svg" alt="Proxtera" class="mr-5"/>
      <img src="/assets/images/proxtera-blue.svg" alt="Proxtera"/>
    </a>
  </header>
  <main>
    <div class="text-center min-h-screen mt-40 px-4">
      <h1 class="flex font-medium items-center justify-center text-96 text-blue-dark-25">
        <img src="/assets/images/icons/error.png" class="mr-8"/>
        404
      </h1>
      <p class="max-w-lg mb-12 mx-auto text-3xl text-blue-dark-15">
        We can’t seem to find the page you are looking for.
      </p>
      <p class="max-w-lg mb-10 mx-auto text-sm text-grey-dark-5">
        Your invite might have been revoked or expired. Please contact or email
        <a href="mailto:proxtera@domain.com" class="font-medium hover:underline">proxtera@domain.com</a> for more information.
      </p>
      <a
        href="/login"
        class="block max-w-sm mx-auto p-3 rounded-lg font-medium text-xs text-white bg-blue hover:bg-blue-dark-25">
        Back to Homepage
      </a>
    </div>
  </main>
</body>
</html>
