<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proxtera - Reset Password</title>
    <meta name="keywords" content="Proxtera" />
    <meta name="description" content="Proxtera" />
    <link rel="stylesheet" href="/assets/css/app.min.css" />
  </head>

  <script>
  function handleSubmitForgotPassword() {
    const errorMsg = {
      invalidEmail: "Please enter email in the format name@example.com!",
      missingEmail: "Please enter a registered email",
      genericError: "Sorry, something went wrong with our system.",
    };

    const successMsg = {
      forgotPasswordSuccess: "Email sent to you! Please check your email.",
    }
    const emailInput = document.querySelector("#email");
    const errorMessage = document.querySelector("#email-error");
    const successMessage = document.querySelector("#success-msg");
    const successMessageContainer = document.querySelector("#success-msg-container");

    isValid = emailInput.checkValidity();
    if (!isValid) {
      errorMessage.classList.remove("hidden")
      return
    } else {
      errorMessage.classList.add("hidden")
    }

    if (emailInput.value) {
      const xhr = new XMLHttpRequest();
      xhr.open("POST", "/forgot-password", true);
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.onreadystatechange = function () {
        if (xhr.status === 200) {
          showSentNotify()
        } else if (xhr.status === 400) {
          errorMessage.innerText = errorMsg.invalidEmail;
        } else if (xhr.status === 422) {
          errorMessage.innerText = errorMsg.missingEmail;
        } else {
          errorMessage.innerText = errorMsg.genericError;
        }
      };
      xhr.send(JSON.stringify({ "email": emailInput.value }));
    } else {
      errorMessage.classList.remove("hidden");
    }
  }
  function hideSentNotify() {
      document.getElementById("sent-notify").classList.add("hidden");
  }

  function showSentNotify() {
      document.getElementById("sent-notify").classList.remove("hidden");
  }
</script>

  <body>
    <main>
      <div class="bg-blue-dark-15 relative z-0">
        <div class="container m-auto flex flex-wrap">
  
          <div class="w-full md:w-1/2 px-4 min-h-800 relative flex flex-wrap items-center login-left-panel">
            <a href="/login" class="pl-8 pt-10 self-start flex items-center">
              <img src="/assets/images/logo.png" class="mr-5" width="55" alt="Proxtera" />
              <img src="/assets/images/proxtera-white.png" width="120" alt="Proxtera" />
            </a>
            <h1 class="lg:ml-20 text-80 text-white font-light">
              Proxtera, bringing the world to you.
            </h1>
            <p class="self-end pl-8 mb-12 text-sm text-grey">
              © 2020 Proxtera. All rights reserved.
              <a href="" class="hover:underline">
                Terms & Conditions
              </a>
               &amp; 
              <a href="" class="hover:underline">
                Privacy Policy
              </a>
            </p>
          </div>

          <div class="w-full md:w-1/2 min-h-screen flex items-center justify-center py-24 px-6">
            <div class="w-full max-w-420 m-auto text-white text-center">
              <h1 class="mb-6 text-3xl font-medium">
                Reset Your Password
              </h1>
              <p class="mb-8">
                Enter the email associated with your account and we'll send an email with instructions to reset your password.
              </p>
              <form id="forgot-password-form" action="/forgot-password" method="POST" data-abide novalidate>
                {{ .CSRFField }}
                {{if .EmailSent}}
                <div id="sent-notify" class="flex flex-wrap justify-between px-4 mb-5 w-full h-10 leading-10 text-sm text-blue border rounded border-blue-light-5">
                  <div>
                    <span><b>Email sent to you!</b> Please check your email</span>
                  </div>
                  <div class="leading-10" onclick="hideSentNotify()">
                    <img class="close-button inline-block" alt="close" width="14px" src="/assets/images/icons/close-blue.png">
                  </div>
                </div>
                {{end}}
                {{if .ForgotPasswordError}}
                <div class="flex justify-between invalid-message py-2 px-4 mb-2 items-center text-red text-sm border rounded border-red">
                  <label>{{.ForgotPasswordError}}</label>
                  <button id="close-button" class="close-button">
                    <img class="inline-block" alt="close" width="14" src="/assets/images/icons/close-red.png">
                  </button>
                </div>
                {{end}}
                <div class="input password relative mb-5">
                  <img src="/assets/images/icons/email.svg" width="16" class="absolute top-0 left-0 mt-5 ml-5"/>
                  <input
                  type="email"
                  id="email"
                  name="email"
                  pattern="^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)+$"
                  placeholder="Enter Email Address"
                  class="mb-3 pl-12 pr-8 h-14 w-full border rounded border-grey-dark-10 focus:border-blue-light-5 bg-blue-dark-15 focus:bg-blue-dark-20 text-white"
                  required
                  />
                  <div id="email-error" class="form-error mb-4 text-red text-sm text-left hidden">
                    Please enter email in the format name@example.com!
                  </div>
                  <div id="error-msg" class="form-error mb-4 text-red text-sm text-left hidden">
                  </div>
                </div>
                <button
                  type="submit"
                  id="submitForgotPassword"
                  class="mb-10 w-full h-14 rounded bg-blue hover:bg-blue-dark-5 text-white font-medium">
                  Send Reset Password Email
                </button>
              </form>
              <a
                href="/login"
                class="mb-3 inline-block text-green hover:underline">
                <img src="/assets/images/icons/arrow-left-green.svg" class="inline-block mr-3"/>
                <span>
                  Back to Log in
                </span>
                </a>
            </div>
          </div>
      </div>
    </div>
    </main>
  </body>
  <script src="/assets/js/app.js"></script>
</html>
