<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>RBAC - Set Password</title>
  <meta name="keywords" content="RBAC" />
  <meta name="description" content="RBAC" />
  <link rel="stylesheet" href="/assets/css/app.min.css" />
</head>

<script>
  // Toggle show password
  //
  document.addEventListener("DOMContentLoaded", function () {
    var togglePasswordBtn = document.getElementsByClassName("toggle-password");
    var passwordInput = document.getElementsByClassName('password');

    for (let i = 0; i < togglePasswordBtn.length; i++) {
      let togglePassword = togglePasswordBtn[i]
      let password = passwordInput[i]
      togglePassword.addEventListener("click", function () {
        password.type = (password.type === "password") ? "text" : "password";
      });
    }
  });
</script>

<body>
  <main>
    <div class="bg-blue-dark-15 relative z-0">
      <div class="container m-auto flex flex-wrap justify-center">

        <div class="w-full md:w-1/2 min-h-screen flex items-center justify-center py-24 px-6">
          <div class="w-full max-w-420 m-auto">
            <p class="mb-10 text-sm text-center text-grey-dark-10">
              Complete your onboarding by setting your password.
            </p>

            <form method="POST" action="/invite/set-password">
              <div class="">
                {{ .CSRFField }}
                <input name="ResetCode" value="{{ .ResetCode }}" type="hidden" />
                <input name="UserID" value="{{ .UserID }}" type="hidden" />
                <div class="relative mb-8">
                  <div class="relative">
                    <input type="password" name="Password" minlength="8" maxlength="256" placeholder="Password" class="password px-8 h-14 w-full border rounded border-grey-dark-10 focus:border-blue-light-5 bg-blue-dark-15 focus:bg-blue-dark-20 text-white
                              {{if .Errors.Password}}border-red{{end}}" />
                    <span class="toggle-password cursor-pointer absolute top-0 right-0 mt-5 mr-3">
                      <img class="pw-show hidden" src="/assets/images/icons/show-password.svg" width="20">
                      <img class="pw-hide hidden" src="/assets/images/icons/hide-password.svg" width="20">
                    </span>
                  </div>
                  <span class="text-xs text-grey-dark-10">
                    Must be 8 characters
                  </span>
                  {{with .Errors.Password}}
                  <p class="text-red text-sm">{{.}}</p>
                  {{end}}
                </div>
                <div class="relative mb-8">
                  <div class="relative">
                    <input type="password" name="Password2" placeholder="Confirm Password" class="password px-8 h-14 w-full border rounded border-grey-dark-10 focus:border-blue-light-5 bg-blue-dark-15 focus:bg-blue-dark-20 text-white
                            {{if .Errors.Password2}}border-red{{end}}" />
                    <span class="toggle-password cursor-pointer absolute top-0 right-0 mt-5 mr-3">
                      <img class="pw-show hidden" src="/assets/images/icons/show-password.svg" width="20">
                      <img class="pw-hide hidden" src="/assets/images/icons/hide-password.svg" width="20">
                    </span>
                  </div>
                  {{with .Errors.Password2}}
                  <p class="text-red text-sm">{{.}}</p>
                  {{end}}
                </div>
              </div>
              <button type="submit"
                class="login-button mb-4 w-full h-14 rounded-lg bg-blue-dark-5 text-white font-medium">
                Submit
              </button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </main>

</body>

</html>
