[runtime]
environment="development"

[server]
host="localhost"
port="3000"
certs="./env/certs"
certProvider="none"
shutdownTimeout="3s"
baseURL="http://localhost:8088"

[csrf]
secure="false"
secret=""

[templates]
loginURL="https://auth.petnet.dev"

[hydra]
adminUrl="http://hydra:4445"

[profile]
internal="profile-admin:80"

[identity]
internal="usermgm-admin:80"
external="usermgm:80"

[drp]
sandboxInternal="drp:80"
liveInternal="drp:80"
liveMock="false"

[gcs]
bucketName=""
credentialsJSON=""

[auth]
issuer="http://127.0.0.1:4444/"
token="http://hydra:4444/"
cookieSecret="secret"
cookieMaxAge="259200"
cookieSecure="false"
clientID="clientid"
clientSecret="clientsecret"
systemClientID="clientid"
systemClientSecret="clientsecret"
oauthURL="https://auth.petnet.dev"
source="dummy"

[local]
disableActionMFA="false"

[trace]
collectorHost=""

[feature]
serviceRequest="true"
